<!-- start counter item -->
<div class="col text-center sm-margin-40px-bottom wow animate__fadeIn" data-wow-delay="0.2s">
    <h3 class="vertical-counter d-inline-flex text-extra-dark-gray alt-font appear font-weight-600 letter-spacing-minus-2px mb-0" data-to="30"></h3>
    <span class="alt-font text-uppercase text-medium d-block margin-5px-top"><span class="font-weight-600">Magasins</span>de location</span>
</div>
<!-- end counter item -->