<!-- start section -->
<section class="p-0 wow animate__fadeIn">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-xl-4 col-md-6 order-md-2 order-xl-1 bg-orange-zest text-white d-flex flex-column justify-content-center padding-8-half-rem-all xl-padding-5-half-rem-all md-padding-4-half-rem-all wow animate__fadeIn" data-wow-delay="0.2s">
                <i class="ti-quote-left icon-large margin-2-rem-bottom opacity-4"></i>
                <h6 class="alt-font font-weight-300 margin-30px-bottom">{{ block.captionleftcontent }}</h6>
                <span class="alt-font text-uppercase font-weight-500 text-medium letter-spacing-1px text-extra-dark-gray">Arne Jacobsen</span>
            </div>
            <div class="col-12 col-xl-4 order-md-1 order-xl-2 cover-background lg-h-500px wow animate__fadeIn" data-wow-delay="0.4s" style="background-image: url('{{ block.imagecenter }}');"></div>
            <div class="col-12 col-xl-4 col-md-6 order-md-3 bg-extra-dark-gray padding-8-half-rem-all last-paragraph-no-margin xl-padding-5-half-rem-all md-padding-4-half-rem-all wow animate__fadeIn" data-wow-delay="0.6s">  
                <h5 class="alt-font text-white">{{ block.captionrighttitle }}</h5>
                <p>{{ block.captionrightcontent }}</p>
            </div>
        </div>
    </div>
</section>
<!-- end section -->