 <!-- start section -->
 <section class="p-0 margin-3-rem-tb">
    <div class="container">
        {% if block.title %}
        <div class="row justify-content-center">
            <div class="col-md-12 text-center margin-four-bottom">
                <h6 class="alt-font text-extra-dark-gray font-weight-500">{{ block.title | markdownify }}</h6>
            </div>
        </div>
        {% endif %}
        <div class="row justify-content-center">
            <div class="col-12 col-xl-5 col-lg-6 col-md-8">
                <ul class="list-style-01 text-extra-dark-gray">
                    {% for item in %}
                    <li><i class="fas fa-check text-extra-medium-gray"></i>Advanced customization theme options
                        <span class="list-hover bg-white box-shadow-small border-radius-5px"></span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- end section -->