<!-- start section -->
<section class="pt-0 margin-75px-top lg-no-margin-top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10"> 
                <div class="row">
                    <div class="col-12 margin-9-rem-top sm-margin-50px-top last-paragraph-no-margin wow animate__fadeIn">
                        <h6 class="alt-font text-extra-dark-gray font-weight-500 margin-20px-bottom">Titre</h6>
                        <p>{{ block.textarea | markdownify }}</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->

<!-- 
<blockquote class="alt-font border-width-4px border-color-green margin-60px-left pe-0 margin-5-half-rem-tb md-margin-40px-left sm-no-margin-left wow animate__fadeIn">
    <p>Tomorrow is the most important thing in life. Comes into us at midnight very clean. It's perfect when it arrives and it puts itself in our hands. It hopes we've learned something from yesterday.</p>
    <footer class="text-medium text-orange-zest d-inline-block text-uppercase">John Wayne</footer>
</blockquote> -->
<!-- 
<div class="col-12 d-flex last-paragraph-no-margin margin-70px-top sm-margin-50px-top wow animate__fadeIn">
    <div class="border-width-1px border-dashed border-color-medium-gray padding-40px-tb padding-50px-lr box-shadow-extra-large border-radius-6px xs-padding-30px-all">Lorem ipsum dolor sit amet consectetur adipiscing elit. Pellentesque sodales nunc non augue euismod, eu rhoncus justo facilisis. Donec varius, orci in consectetur finibus, dolor dolor pellentesque turpis, quis aliquam arcu leo ac metus. Fusce vehicula suscipit elit, vitae sodales leo tempus a. Vivamus et viverra libero.</div>
</div> -->