{% assign thispage = site.data.content.cgu %}
{% assign advices = site[page.collection] %}

{% include elements/generic_variables.html %}

<div class="main-content">
    <!-- start page title -->
    <section class="bg-light-gray margin-85px-top padding-40px-tb sm-padding-30px-tb page-title-small">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-8 col-lg-6 text-center text-lg-start">
                    <h1 class="alt-font text-extra-dark-gray font-weight-500 no-margin-bottom d-inline-block">{{ thispage.s01.p01.[page.language].txt01 }}</h1>
                    <span class="alt-font text-medium d-block d-md-inline-block sm-margin-5px-top">{{ thispage.s01.p01.[page.language].txt02 }}</span>
                </div>
                <div class="col-xl-4 col-lg-6 text-center text-lg-end breadcrumb justify-content-center justify-content-lg-end text-small alt-font md-margin-15px-top">
                    <ul>
                        <li><a href="/{{ page.language }}/{{ season_language }}">Accueil</a></li>
                        <li>{{ thispage.s01.p01.[page.language].txt03 }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- end page title -->
    <!-- start section -->
    <section class="p-0 margin-3-rem-tb">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-12 last-paragraph-no-margin wow animate__fadeIn">
                            
                            <p>Le Site Internet https://www.ze-hero.com est un outil d’information mis à disposition du public par la société WHITENRGY au capital de 1000 € dont le siège social est situé immeuble Chavière 73440 Les Ménuires France, immatriculée au Registre du Commerce et des Sociétés de Chambéry numéro de SIREN 838 441 244, numéro de TVA intracommunautaire FR 60 838 441 244 et au code NAF 4791A (ci après la “Société”).</p>

<p>
Les présentes conditions générales d’utilisation (ci-après les “Conditions”) constituent le contrat par lequel la Société met à disposition des internautes, sur son Site, des informations concernant les prestations de service qu’elle réalise dans son domaine d’activité.
</p>

<h3 class="h5 alt-font text-extra-dark-gray font-weight-500">ARTICLE 1. OBJET DU SERVICE</h3>
<p>Le Site a pour objet la présentation de la Société et de ses offres vente de vètements et toutes autres activités annexes.</p>
<p>
Le Site n’a pas vocation à détailler les prix des différents produits mais simplement à éclairer l’internaute de leur existence ainsi que les modalités générales d’utilisation de sa plateforme.
</p>

<h3 class="h5 alt-font text-extra-dark-gray font-weight-500">ARTICLE 2. DÉFINITIONS</h3>
<p>“Editeur” : désigne la personne qui met à disposition du public le Site https://www.ze-hero.com, en l’occurrence, Mme Claire Jurine ;</p>
<p>“Site“ : désigne le site Internet appartenant à la Société WHITENRGY référencé à l’adresse https://www.ze-hero.com/ ;</p>
<p>“Société“ : désigne la société WHITENRGY, société par actions simplifiée;</p>
<p>“Utilisateur“ : désigne toute personne qui accède, navigue, consulte ou se rend sur le Site.</p>


<h3 class="h5 alt-font text-extra-dark-gray font-weight-500">ARTICLE 3. UTILISATION DU SITE</h3>
<p>L’accès et l’utilisation du Site sont soumis à l’acceptation et au respect des présentes Conditions Générales d’Utilisation. L’Editeur se réserve le droit de modifier, à tout moment et sans préavis, le Site et ses services ainsi que les présentes Conditions, notamment pour s’adapter aux évolutions du Site par la mise à disposition de nouvelles fonctionnalités ou la suppression ou la modification de fonctionnalités existantes. Il est donc conseillé à l’utilisateur de se référer avant toute navigation à la dernière version des Conditions, accessible à tout moment sur le Site. En cas de désaccord avec les Conditions, aucun usage du Site ne saurait être effectué par l’utilisateur.</p>
<p>La connexion et la navigation sur le Site valent acceptation sans réserve des présentes Conditions, quelques soient les moyens techniques d’accès et les terminaux utilisés. Les présentes Conditions s’appliquent, en tant que de besoin, à toute déclinaison ou extension du Site sur les réseaux sociaux et/ou communautaires existantes ou à venir.</p>

<h3 class="h5 alt-font text-extra-dark-gray font-weight-500">ARTICLE 4. GESTION DU SITE</h3>
<p>Pour toute question ou demande d’information concernant le site, ou tout signalement de contenu ou d’activités illicites, l’utilisateur peut contacter l’Editeur à l’adresse e-mail suivante : contact@fze-hero.com ou adresser un courrier recommandé avec accusé de réception à l’adresse suivante : immeuble Chavière 73440 Les Ménuires France.</p>
<p>Le site est accessible gratuitement à tout Utilisateur disposant d’un accès à Internet. L’Utilisateur est seul responsable du bon fonctionnement de son équipement informatique ainsi que de son accès à Internet.</p>
<p>L’éditeur met en œuvre les solutions techniques à sa disposition pour permettre l’accès au site 24 heures sur 24, 7 jours sur 7.</p>
<p>Il pourra néanmoins à tout moment suspendre, limiter ou interrompre l’accès au site ou à certaines pages de celui-ci afin de procéder à des mises à jour, des modifications de son contenu ou tout autre action jugée nécessaire au bon fonctionnement du site. Les actions concernées sont notamment les suivantes :</p>

<ul class="list-style-05 padding-40px-bottom">
    <li>Suspendre, interrompre ou limiter l’accès à tout ou partie du site, réserver l’accès au site, ou à certaines parties du site, à une catégorie déterminée d’internaute ;</li>
    <li>Supprimer toute information pouvant perturber le fonctionnement du Site ou entrant en contravention avec les lois nationales ou internationales, ou avec les règles de la nétiquette ;</li>
    <li>Suspendre le Site – ou l’accès au site – afin de procéder à des mises à jour ou tout mouvement de maintenance.</li>
</ul>

<h3 class="h5 alt-font text-extra-dark-gray font-weight-500">ARTICLE 5. RESPONSABILITÉ </h3>
<p>Le Site est par principe accessible aux Utilisateurs 24 heures sur 24 et 7 jours sur 7, sauf interruption programmée ou non, pour des besoins de maintenance ou en cas de force majeure. En cas d’impossibilité d’accès au Site, l’Editeur s’engage à faire son maximum afin d’en rétablir l’accès. Le Site et l'Éditeur ne sauraient être tenus pour responsable de tout dommage, quelle qu’en soit la nature, résultant de son indisponibilité.</p>
<p>L'Éditeur n’est responsable que du contenu qu’il a lui-même édité. L'Éditeur n’est pas responsable :</p>
<ul class="list-style-05 padding-40px-bottom">
    <li>En cas de problématiques ou défaillances techniques, informatiques ou de compatibilité du Site avec un matériel ou logiciel quel qu’il soit ;</li>
    <li>Des dommages directs ou indirects, matériels ou immatériels, prévisibles ou imprévisibles résultant de l’utilisation ou des difficultés d’utilisation du Site ou de ses services ;</li>
    <li>Des caractéristiques intrinsèques de l’Internet, notamment celles relatives au manque de fiabilité et au défaut de sécurisation des informations y circulant ;</li>
    <li>Des contenus ou activités illicites utilisant son Site et ce, sans qu’il en ait pris dûment connaissance au sens de la Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique et la Loi n°2004-801 du 6 août 2004 relative à la protection des personnes physiques à l’égard du traitement de données à caractère personnel.</li>
</ul>

<p>Par ailleurs, le Site ne saurait garantir l’exactitude, la complétude, et l’actualité des informations qui y sont diffusées. </p>

<p>L’Utilisateur est responsable :</p>
<ul class="list-style-05 padding-40px-bottom">
    <li>De la protection de son matériel et de ses données ;</li>
    <li>De l’utilisation qu’il fait du Site ou de ses services ;</li>
    <li>S’il ne respecte ni la lettre, ni l’esprit des présentes CGU.</li>
</ul>

<p>Pour tout signalement de contenus ou d’activités illicites, l’Utilisateur peut contacter l’Éditeur à l’adresse suivante : contact@faussetoute.com, ou par lettre recommandée avec accusé de réception adressé à l’Éditeur à immeuble Chavière 73440 Les Ménuires France.</p>

<h3 class="h5 alt-font text-extra-dark-gray font-weight-500">ARTICLE 6. FORCE MAJEURE</h3>

<p>La responsabilité de l'Éditeur ne pourra être engagée en présence d’un fait de force majeure ou indépendant de sa volonté.</p>

<h3 class="h5 alt-font text-extra-dark-gray font-weight-500">ARTICLE 7. GESTION DES DONNÉES À CARACTÈRE PERSONNEL</h3>

<h4 class="h6 alt-font text-extra-dark-gray font-weight-500">Consultation du site</h4>
<p>Le site ne collecte aucune donnée à caractère personnel concernant les utilisateurs qui le consultent. Toutefois, le site a recours à des cookies afin de mémoriser les préférences d’affichage des Utilisateurs et d’améliorer leur navigation sur le site. Nous avons également recours aux cookies dits de mesure d’audience.</p>
<p>Les Utilisateurs qui souhaitent s’opposer au dépôt de tels cookies peuvent le faire en modifiant les paramètres de leur navigateur Internet.
Pour en savoir plus sur les cookies et les paramétrer, les Utilisateurs sont invités à consulter notre politique de gestion des cookies.</p>


<h4 class="h6 alt-font text-extra-dark-gray font-weight-500">Formulaire de contact</h4>
<p>Le site propose aux Utilisateurs un formulaire de contact afin d’obtenir des informations complémentaires sur les services proposés par la Société.</p>
<p>Dans ce cas seulement des données à caractère personnel sont collectées.</p>
<p>Les données à caractère personnel qui sont fournies par l’Utilisateur lorsqu'il complète le formulaire de contact (identité, email de contact, numéro de téléphone …) sont, notamment, collectées et traitées dans le but de répondre aux demandes des personnes qui sollicitent des informations complémentaires sur les services proposés ou qui veulent établir un contact dans un but commercial.
En application de la loi 78-17 du 6 janvier 1978 dite “Informatique et Libertés” et du règlement général (UE) n° 2016/679 relatif à la protection des personnes physiques à l'égard du traitement des données à caractère personnel et à la libre circulation de ces données (ci-après le « RGPD »), il est rappelé que les données nominatives qui sont demandées à l’Utilisateur qui remplit un formulaire sont nécessaires au traitement de sa demande d'information.</p>

<p>L’Utilisateur dispose, conformément aux réglementations nationales et européennes en vigueur d'un droit d'accès permanent, de modification, de rectification, de portabilité, d'opposition et d’effacement s'agissant des informations le concernant.</p>

<p>Ce droit peut être exercé : (au choix parmi formulaire web ou mail)</p>
<ul class="list-style-05 padding-40px-bottom">
    <li>par courrier postal : À l’attention du DPO, immeuble Chavière 73440 Les Ménuires France</li>
    <li>par formulaire web : https://www.ze-hero.com/fr/hiver/contact</li>
    <li>par email à l’adresse contact@ze-hero.com</li>
</ul>

<p>La Société s'engage à assurer la confidentialité des données à caractère personnel communiquées par l’Utilisateur.</p>

<p>L’Utilisateur est informé que la Société peut utiliser les données personnelles le concernant afin de lui adresser des offres commerciales susceptibles de l'intéresser.</p>
<p>Ces données sont conservées pour une durée maximale de 3 ans et ne sont partagées avec aucun prestataire extérieur.</p>

<p>L’Utilisateur est informé du fait qu’il a la possibilité d’introduire une réclamation auprès de la Commission Nationale de l’Informatique et des Libertés soit, via l’URL suivante https://www.cnil.fr/fr/plaintes ou soit, via courrier postal (3 Place de Fontenoy - TSA 80715 - 75334 PARIS CEDEX 07).</p>

<h3 class="h5 alt-font text-extra-dark-gray font-weight-500">ARTICLE 8. PROPRIÉTÉ INTELLECTUELLE</h3>
<p>La structuration du Site mais aussi les textes, graphiques, certaines images et photographies, sons, vidéos et applications informatiques qui le composent sont la propriété de l’Éditeur et sont protégés comme tels par les dispositions du Code de la propriété intellectuelle.</p>

<p>Toute représentation, reproduction, adaptation ou exploitation partielle ou totale des contenus, marques déposées et services proposés par le Site, par quelque procédé que ce soit, sans l’autorisation préalable, expresse et écrite de l’Éditeur, est strictement interdite et serait susceptible de constituer une contrefaçon au sens des articles L335-2 et suivants du Code de la propriété intellectuelle. Exception faite des éléments expressément désignés comme libres de droits sur le Site, et des exceptions légales posés à l’article L122-5 du code de la Propriété Intellectuelle. </p>

<p>L’accès au Site ne vaut pas reconnaissance d’un droit et, de manière générale, ne confère aucun droit de propriété intellectuelle relatif à un élément dudit Site, lesquels restent la propriété exclusive de l’Éditeur. </p>
<p>Il est interdit à l’Utilisateur d’introduire sur le Site des données qui modifieraient ou qui seraient susceptibles d’en modifier le contenu ou l’apparence.</p>

<p>Il est interdit de publier sur le Site des informations à caractère illicite, violent, polémique, pornographique, xénophobe ou pouvant porter atteinte à la sensibilité du plus grand nombre. </p>

<p>Enfin la Société se réserve le droit de faire supprimer à tout moment un lien hypertexte pointant vers son Site, si elle l’estime non conforme à sa politique éditoriale.</p>

<h3 class="h5 alt-font text-extra-dark-gray font-weight-500">ARTICLE 9. Droit applicable et juridiction compétente</h3>  

<p>Le présent Site est soumis aux dispositions du droit français. Toute survenance d’un litige non réglé par un accord à l’amiable ou une procédure de conciliation se verra porté devant les tribunaux compétents du ressort de la Cour d’Appel de Paris.</p>

                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end page title -->
</div>

