{% assign thispage = site.data.content.summer_resort %}
{% assign resorts = site[page.collection] %}
{% include elements/generic_variables.html %}


<div class="main-content">
    <!-- start page title -->
    <section class="half-section bg-light-gray parallax" data-parallax-background-ratio="0.5" style="background-image:url('{{ thispage.s01.image_hero }}');">
        <div class="container">
            <div class="row align-items-stretch justify-content-center extra-small-screen">
                <div class="col-12 col-xl-6 col-lg-7 col-md-8 page-title-extra-small text-center d-flex justify-content-center flex-column">
                    <h1 class="alt-font text-gradient-sky-blue-pink margin-15px-bottom d-inline-block">{{ thispage.s01.p01.[page.language] }}</h1>
                    <h2 class="text-extra-dark-gray alt-font font-weight-500 letter-spacing-minus-1px line-height-50 sm-line-height-45 xs-line-height-30 no-margin-bottom">{{ thispage.s01.p02.[page.language] }}</h2>
                </div>
            </div>
        </div>            
    </section>
    <!-- end page title -->

<!-- start section -->
<section class="pb-0">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-11 col-xl-4 col-md-6 sm-margin-30px-bottom wow animate__fadeIn" data-wow-delay="0.1s">
                <h4 class="alt-font font-weight-600 text-extra-dark-gray mb-0">{{ thispage.s02.p01.[page.language] }}</h4>
            </div>
            <div class="col-11 col-xl-6 offset-xl-1 col-md-6 wow animate__fadeIn" data-wow-delay="0.2s">
                <p class="text-large line-height-38px">{{ thispage.s02.p02.[page.language] | markdownify | remove: '<p>' | remove: '</p>' }}</p>
                
            </div>
        </div>
    </div>
</section>
<!-- end section -->

    <!-- start section -->
    <section class="">
        
        <div class="container-fluid padding-five-lr xl-padding-two-lr lg-padding-four-lr">
            <div class="row row-cols-1 row-cols-xl-4 row-cols-sm-2">
                {% for resort in resorts %}
                {% if resort.path contains "/ete/resort/" %}
                <!-- start services item -->
                <div class="col interactive-banners-style-11 text-center lg-margin-30px-bottom xs-margin-15px-bottom wow animate__fadeIn margin-30px-bottom" data-wow-delay="0.2s">
                    <div class="interactive-banners-box">
                        <div class="interactive-banners-box-image">
                            {% capture download_note %}{{ resort.image01_href }}{% endcapture %}
                            <img src="{% include image.html file=download_note sizevar="activitylist" width="" height="" %}" alt="image représentant l'activité {{ activity.title }}">
                            <div class="interactive-banners-text-overlay bg-slate-blue"></div>
                            <div class="opacity-extra-medium bg-gradient-dark-slate-blue-transparent"></div>
                        </div>
                        <div class="interactive-banners-text-content padding-5-rem-lr xl-padding-3-half-rem-lr">
                            <h6 class="alt-font font-weight-600 text-white text-uppercase margin-5px-bottom">{{ resort.resort_naming }}</h6>
                            <span class="alt-font text-medium text-white opacity-7 text-uppercase letter-spacing-1px d-block">{{ resort.baseline }}</span>
                            <a href="{{ activity.url }}" class="btn btn-fancy btn-small btn-green margin-35px-top">{{ config.activity.readmore }}</a>
                        </div>
                    </div>
                </div>
                <!-- end services item -->
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- end section -->
    
    {% include section_blog.html %}

    {% include section_up_footer.html %}
</div>

