{% assign thispage = site.data.content.winter_resort %}
{% assign resorts = site[page.collection] %}

{% include elements/generic_variables.html %}
{% capture sizeimg %}
    346
{% endcapture %}
<div class="main-content"> <!-- start section -->
    <section class="p-0" >
        <div class="container-fluid position-relative">
            <div class="row">
                <div class="swiper-container white-move full-screen p-0 md-h-650px sm-h-500px" data-slider-options='{ "slidesPerView": 1, "loop": true, "autoplay": { "delay": 4500, "disableOnInteraction": false },  "pagination": { "el": ".swiper-pagination", "clickable": true }, "navigation": { "nextEl": ".swiper-button-next-nav", "prevEl": ".swiper-button-previous-nav" }, "keyboard": { "enabled": true, "onlyInViewport": true }, "effect": "slide" }'>
                    <div class="swiper-wrapper">
                        <!-- start slider item -->
                        <div class="swiper-slide cover-background" style="background-image:url('{% include image.html file="https://res.cloudinary.com/deddrj0yb/image/upload/v1640080310/website/winter/rainer-bleek-y8-GC22QyfY-unsplash_ky6gnt.jpg" sizevar="bigsquare" %}');">
                            <div class="container h-100">
                                <div class="row justify-content-center h-100">
                                    <div class="col-12 col-xl-6 col-sm-7 d-flex flex-column justify-content-center text-center h-100">
                                        <span class="alt-font font-weight-500 text-extra-medium letter-spacing-2px text-white text-uppercase d-block margin-35px-bottom sm-margin-15px-bottom">Package start only $250</span>
                                        <h1 class="alt-font font-weight-800 title-large text-white text-uppercase letter-spacing-minus-4px margin-45px-bottom sm-letter-spacing-minus-1px sm-margin-30px-bottom text-shadow-large sm-no-text-shadow xs-w-90 mx-auto">Deserts blancs</h1>
                                        <a href="#" class="btn btn-fancy btn-large btn-dark-gray btn-box-shadow align-self-center">Discover Tour</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end slider item -->
                        <!-- start slider item -->
                        <div class="swiper-slide cover-background" style="background-image:url('https://res.cloudinary.com/deddrj0yb/image/upload/v1639426220/website/winter/johannes-hohls-icTz0MbkRVU-unsplash_mgpi0a.jpg');">
                            <div class="container h-100">
                                <div class="row justify-content-center h-100">
                                    <div class="col-12 col-xl-6 col-sm-7 d-flex flex-column justify-content-center text-center h-100">
                                        <span class="alt-font font-weight-500 text-extra-medium letter-spacing-2px text-white text-uppercase d-block margin-35px-bottom sm-margin-15px-bottom">Package start only $250</span>
                                        <h1 class="alt-font font-weight-800 title-large text-white text-uppercase letter-spacing-minus-4px margin-45px-bottom sm-letter-spacing-minus-1px sm-margin-30px-bottom text-shadow-large sm-no-text-shadow xs-w-90 mx-auto">Mer, surf & flocons</h1>
                                        <a href="#" class="btn btn-fancy btn-large btn-dark-gray btn-box-shadow align-self-center">Discover Tour</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end slider item -->
                        <!-- start slider item -->
                        <div class="swiper-slide cover-background" style="background-image:url('https://res.cloudinary.com/deddrj0yb/image/upload/v1641472431/website/resorts/Antibes/v2f-ulodjS9910U-unsplash_rpg51d.jpg');">
                            <div class="container h-100">
                                <div class="row justify-content-center h-100">
                                    <div class="col-12 col-xl-6 col-sm-7 d-flex flex-column justify-content-center text-center h-100">
                                        <span class="alt-font font-weight-500 text-extra-medium letter-spacing-2px text-white text-uppercase d-block margin-35px-bottom sm-margin-15px-bottom">Package start only $250</span>
                                        <h1 class="alt-font font-weight-800 title-large text-white text-uppercase letter-spacing-minus-4px margin-45px-bottom sm-letter-spacing-minus-1px sm-margin-30px-bottom text-shadow-large sm-no-text-shadow xs-w-70 mx-auto">Soleil d'hiver</h1>
                                        <a href="#" class="btn btn-fancy btn-large btn-dark-gray btn-box-shadow align-self-center">Discover Tour</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end slider item -->                          
                    </div>
                    <!-- start slider pagination -->
                    <div class="swiper-pagination swiper-light-pagination d-sm-none"></div>
                    <!-- end slider pagination -->
                    <!-- start slider navigation -->
                    <div class="swiper-button-next-nav swiper-button-next rounded-circle slider-navigation-style-07 d-none d-sm-flex"><i class="feather icon-feather-arrow-right"></i></div>
                    <div class="swiper-button-previous-nav swiper-button-prev rounded-circle slider-navigation-style-07 d-none d-sm-flex"><i class="feather icon-feather-arrow-left"></i></div>
                    <!-- end slider navigation -->
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- start section -->
    <section class="extra-big-section cover-background overflow-visible" style="background-image: url('https://res.cloudinary.com/deddrj0yb/image/upload/v1641546369/website/global/home-startup-about-bg_jmwvvl.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-12 overlap-section md-no-margin-top md-margin-70px-bottom sm-margin-50px-bottom">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-4 col-md-6 col-sm-8 md-margin-30px-bottom xs-margin-15px-bottom">
                            <!-- start feature box item-->
                            <div class="feature-box h-100 feature-box-left-icon-middle padding-3-rem-all bg-white box-shadow-small box-shadow-large-hover border-radius-4px overflow-hidden last-paragraph-no-margin lg-padding-2-half-rem-tb lg-padding-2-rem-lr md-padding-4-rem-all">
                                <div class="feature-box-icon margin-30px-right lg-margin-25px-right">
                                    <i class="line-icon-Cursor-Click2 icon-medium text-green"></i>
                                </div>
                                <div class="feature-box-content">
                                    <div class="text-slate-blue font-weight-500 text-large margin-5px-bottom">Innovative business</div>
                                    <span>Easy to customize</span>
                                </div>
                            </div>
                            <!-- end feature box item-->
                        </div>
                        <div class="col-12 col-lg-4 col-md-6 col-sm-8 md-margin-30px-bottom xs-margin-15px-bottom">
                            <!-- start feature box item-->
                            <div class="feature-box h-100 feature-box-left-icon-middle padding-3-rem-all bg-white box-shadow-small box-shadow-large-hover border-radius-4px overflow-hidden last-paragraph-no-margin lg-padding-2-half-rem-tb lg-padding-2-rem-lr md-padding-4-rem-all">
                                <div class="feature-box-icon margin-30px-right lg-margin-25px-right">
                                    <i class="line-icon-Bakelite icon-medium text-green"></i>
                                </div>
                                <div class="feature-box-content">
                                    <div class="text-slate-blue font-weight-500 text-large margin-5px-bottom">Expertly marketing</div>
                                    <span>High quality services</span>
                                </div>
                            </div>
                            <!-- end feature box item-->
                        </div>
                        <div class="col-12 col-lg-4 col-md-6 col-sm-8">
                            <!-- start feature box item-->
                            <div class="feature-box h-100 feature-box-left-icon-middle padding-3-rem-all bg-white box-shadow-small box-shadow-large-hover border-radius-4px overflow-hidden last-paragraph-no-margin lg-padding-2-half-rem-tb lg-padding-2-rem-lr md-padding-4-rem-all">
                                <div class="feature-box-icon margin-30px-right lg-margin-25px-right">
                                    <i class="line-icon-Boy icon-medium text-green"></i>
                                </div>
                                <div class="feature-box-content">
                                    <div class="text-slate-blue font-weight-500 text-large margin-5px-bottom">Engaging audiences</div>
                                    <span>Build perfect websites</span>
                                </div>
                            </div>
                            <!-- end feature box item-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-end">
                <div class="col-12 col-lg-3 col-md-6 order-1 text-center text-lg-end last-paragraph-no-margin md-margin-50px-bottom wow animate__fadeInLeft">
                    <div class="title-large-2 text-green alt-font line-height-70px letter-spacing-minus-3px font-weight-600">175+</div>
                    <span class="alt-font text-extra-dark-gray font-weight-500 text-uppercase letter-spacing-2px d-block margin-15px-bottom sm-margin-5px-bottom">Worldwide offices</span>
                    <p class="w-90 d-inline-block sm-w-60 xs-w-80">Lorem ipsum dolor sit consectetur do eiusmod tempor incididunt</p>
                </div>
                <div class="col-12 col-lg-6 order-3 order-lg-2 text-center z-index-0 wow animate__fadeIn">
                    <div class="tilt-box" data-tilt-options='{ "maxTilt": 20, "perspective": 1000, "easing": "cubic-bezier(.03,.98,.52,.99)", "scale": 1, "speed": 500, "transition": true, "reset": true, "glare": false, "maxGlare": 1 }'>
                        <span class="text-extra-big-2 alt-font text-uppercase text-green font-weight-600 letter-spacing-minus-10px image-mask cover-background" style="background-image: url('https://res.cloudinary.com/deddrj0yb/image/upload/co_rgb:3cb5a1,e_vectorize/co_rgb:3cb5a1,e_green:54/co_rgb:3cb5a1,e_colorize:64/v1638883535/website/winter/Telesiege-amis-groupe_owkpc2.jpg')">20</span>
                        <span class="alt-font text-extra-large text-extra-dark-gray letter-spacing-4px font-weight-600 text-uppercase margin-5px-top d-block">ans d'experience</span>
                    </div>
                </div>
                <div class="col-12 col-lg-3 col-md-6 order-2 text-center text-lg-start order-lg last-paragraph-no-margin md-margin-50px-bottom wow animate__fadeInRight">
                    <div class="title-large-2 text-green alt-font line-height-70px letter-spacing-minus-3px font-weight-600" >200+</div>
                    <span class="alt-font text-extra-dark-gray font-weight-500 text-uppercase letter-spacing-2px d-block margin-15px-bottom sm-margin-5px-bottom">High skilled people</span>
                    <p class="w-90 d-inline-block sm-w-60 xs-w-80">Lorem ipsum dolor sit consectetur do eiusmod tempor incididunt</p>
                </div>                   
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- start section -->
    <section class="overflow-visible pt-md-0 pb-0">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center overlap-section wow animate__zoomIn">
                    <img class="rounded-circle box-shadow-large w-170px h-170px border-all border-width-10px border-color-white bg-white" src="https://res.cloudinary.com/deddrj0yb/image/upload/c_crop,g_north_west,h_550,w_550,x_270/v1640094645/website/logo/Sur%20fond%20clair/logo-ze-hero-vertical_1_htndre.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
    

    <!-- start section -->
    <section class="">
        
        <div class="container-fluid padding-five-lr xl-padding-two-lr lg-padding-four-lr">
            <div class="row row-cols-1 row-cols-xl-4 row-cols-sm-2">
                {% for resort in resorts %}
                {% if resort.path contains "/resort/" %}
                <!-- start services item -->
                <div class="col interactive-banners-style-11 text-center lg-margin-30px-bottom xs-margin-15px-bottom wow animate__fadeIn margin-30px-bottom" data-wow-delay="0.2s">
                    <div class="interactive-banners-box">
                        <div class="interactive-banners-box-image">
                            <img src="{{ imgsize.url }}{{ imgsize.activitylist }}{{resort.image01_href | remove: 'https://res.cloudinary.com/deddrj0yb/image/upload' }}" alt=" ">
                            <div class="interactive-banners-text-overlay bg-slate-blue"></div>
                            <div class="opacity-extra-medium bg-gradient-dark-slate-blue-transparent"></div>
                        </div>
                        <div class="interactive-banners-text-content padding-5-rem-lr xl-padding-3-half-rem-lr">
                            <h6 class="alt-font font-weight-600 text-white text-uppercase margin-5px-bottom">{{ resort.title }}</h6>
                            <span class="alt-font text-medium text-white opacity-7 text-uppercase letter-spacing-1px d-block">{{ resort.baseline }}</span>
                            <a href="{{ resort.url }}" class="btn btn-fancy btn-small btn-green margin-35px-top">{{ config.resort.readmore }}</a>
                        </div>
                    </div>
                </div>
                <!-- end services item -->
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- end section -->
    
    {% include section_blog.html %}

    {% include section_up_footer.html %}
</div>

