{% assign thispage = site.data.content.activity %}

{% include elements/generic_variables.html %}

<div class="main-content">
    <!-- start page title -->
    <section class="half-section bg-light-gray parallax" data-parallax-background-ratio="0.5" style="background-image:url('{{ thispage.s01.image_hero }}');">
        <div class="container">
            <div class="row align-items-stretch justify-content-center extra-small-screen">
                <div class="col-12 col-xl-6 col-lg-7 col-md-8 page-title-extra-small text-center d-flex justify-content-center flex-column">
                    <h1 class="alt-font text-gradient-sky-blue-pink margin-15px-bottom d-inline-block">le blog outdoor de l'hiver</h1>
                    <h2 class="text-extra-dark-gray alt-font font-weight-500 letter-spacing-minus-1px line-height-50 sm-line-height-45 xs-line-height-30 no-margin-bottom">Des histoires et des émotions</h2>
                </div>
            </div>
        </div>
    </section>
    <!-- end page title -->
    <!-- start section --> 
    <section class="bg-light-gray pt-0 padding-five-lr lg-no-padding-lr">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 col-xl-12 col-lg-12 col-sm-10 blog-content lg-no-padding-lr">
                    <ul class="blog-simple blog-wrapper grid grid-loading grid-3col xl-grid-2col lg-grid-2col md-grid-1col sm-grid-1col xs-grid-1col gutter-double-extra-large">
                        <li class="grid-sizer"></li>
                        <!-- start blog item -->
                        {% assign posts = site[page.collection] | reverse | where_exp: "page" , "page.season contains season" %}
                        
                        {% for blogpost in posts %}
                        {% if blogpost.path contains "/posts/" %}
                        <li class="grid-item wow animate__fadeIn">
                            <div class="blog-post box-shadow-small border-radius-6px">
                                {% capture download_note %}{{ blogpost.image01_href }}{% endcapture %}
                                <div class="blog-post-image cover-background xs-h-250px" style="background-image: url('{% include image.html file=download_note sizevar="homeblogpostlist" width="" height="" %}" alt="{{ blogpost.image01_alt }}')">
                                    <a href="{{ blogpost.url }}" class="blog-post-image-overlay bg-dark-slate-blue"></a>
                                </div>
                                <div class="post-details bg-white padding-3-half-rem-all lg-padding-2-half-rem-all md-padding-3-half-rem-all">
                                    <a href="{{ blogpost.url }}" class="blog-category alt-font text-extra-dark-gray border-color-black-transparent bg-white align-self-start  xs-margin-2-half-rem-bottom">{{ blogpost.tags[0] }}</a>
                                    <a href="{{ blogpost.url }}" class="blog-category alt-font text-extra-dark-gray border-color-black-transparent bg-white align-self-start  xs-margin-2-half-rem-bottom">{{ blogpost.tags[1] }}</a>
                                    <a href="{{ blogpost.url }}" class="blog-category alt-font text-extra-dark-gray border-color-black-transparent bg-white align-self-start margin-4-half-rem-bottom xs-margin-2-half-rem-bottom">{{ blogpost.tags[2] }}</a>
                                    <a href="{{ blogpost.url }}" class="font-weight-500 text-large line-height-24px text-extra-dark-gray margin-15px-bottom xs-margin-10px-bottom">{{ blogpost.post-title }}</a>
                                    <p>{{ blogpost.description | truncate: 60  }}</p>
                                </div>
                            </div>
                        </li>
                        {% endif %}
                        {% endfor %}
                        <!-- end blog item -->
                        
                    </ul>
                    
                    {% comment %}
                    <!-- start pagination -->
                    <div class="col-12 d-flex justify-content-center margin-7-half-rem-top lg-margin-5-rem-top xs-margin-4-rem-top wow animate__fadeIn">
                        <ul class="pagination pagination-style-01 text-small font-weight-500 align-items-center">
                            <li class="page-item"><a class="page-link" href="#"><i class="feather icon-feather-arrow-left icon-extra-small d-xs-none"></i></a></li>
                            <li class="page-item"><a class="page-link" href="#">01</a></li>
                            <li class="page-item active"><a class="page-link" href="#">02</a></li>
                            <li class="page-item"><a class="page-link" href="#">03</a></li>
                            <li class="page-item"><a class="page-link" href="#">04</a></li>
                            <li class="page-item"><a class="page-link" href="#"><i class="feather icon-feather-arrow-right icon-extra-small  d-xs-none"></i></a></li>
                        </ul>
                    </div>
                    <!-- end pagination -->
                    {% endcomment %}
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->  
</div>

