{% assign thispage = site.data.content.winter_homepage %}

{% include elements/generic_variables.html %}

<div class="main-content">
    <!-- start section -->
    <section class="parallax p-0" data-parallax-background-ratio="0.3" style="background-image:url('{{ thispage.s01.image_hero }}');">
        <div class="position-absolute cover-background top-0px left-0px w-100 h-100" data-parallax-background-ratio="0.5" style="background-image: url('thispage.s01.image_hero');"></div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-5 col-md-6 col-sm-7 full-screen md-h-650px sm-h-500px d-flex flex-column justify-content-center padding-8-rem-tb">
                    <h1 class="alt-font font-weight-600 title-large text-extra-dark-gray letter-spacing-minus-4px margin-4-half-rem-bottom sm-letter-spacing-minus-1-half xs-w-65">{{ thispage.s01.p01.[page.language] }}</h1>
                    <a href="/fr/hiver/activites" class="btn btn-extra-large btn-expand-ltr text-white btn-rounded align-self-start font-weight-600">{{ thispage.s01.p02.[page.language] }}<span class="bg-green"></span></a>
                </div>
            </div>
        </div>
        <div class="scroll-down-bottom">
            <a href="#about" class="section-link d-block w-2px h-35px bg-white mx-auto right-0px left-0px position-absolute">
                <span class="scroll-down-text alt-font font-weight-600 text-extra-dark-gray letter-spacing-minus-1-half margin-5px-bottom">scroll</span>
            </a>
        </div>
    </section>
    <!-- end section -->
    <!-- start section -->
    <section id="about" class="big-section">
        <div class="container">
            
            <div class="row align-items-end justify-content-center ">
                <div class="col-12 col-lg-3 pe-lg-0 md-margin-25px-bottom sm-margin-15px-bottom text-center text-lg-start wow animate__fadeIn" data-wow-delay="0.2s">
                    <span class="alt-font font-weight-600 title-large text-green d-block letter-spacing-minus-5px sm-letter-spacing-minus-1-half"> ZE HERO<span class="text-extra-dark-gray">.</span></span>
                </div>
                <div class="col-12 col-lg-5 col-md-10 text-lg-end md-margin-25px-bottom text-center text-lg-start wow animate__fadeIn" data-wow-delay="0.4s">
                    <h4 class="alt-font font-weight-600 text-extra-dark-gray d-block mb-0 padding-2-half-rem-right letter-spacing-minus-1px lg-no-padding-right">Nos équipes de passionnés vous ont préparé le meilleur des activités outdoor.</h4>
                </div>
                <div class="col-12 col-lg-4 col-md-9 padding-30px-left md-padding-15px-left text-center text-lg-start wow animate__fadeIn" data-wow-delay="0.6s">
                    <p class="w-80 margin-15px-bottom lg-w-100">Découvrez les activités près de chez vous et profitez d’expériences inoubliables seul, entre amis ou en famille !</p>
                    <a href="/fr/hiver/activites" class="btn btn-link btn-extra-large text-extra-dark-gray font-weight-600">En savoir plus</a>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- start section -->
    <section class="big-section wow animate__fadeIn p-0">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-12 col-md-10 col-xl-4 col-lg-5 md-margin-5-rem-bottom wow animate__fadeIn" data-wow-delay="0.2s">
                    <h5 class="alt-font text-dark-charcoal font-weight-700 text-uppercase letter-spacing-minus-1px">Vive les skis d'occasion !</h5>
                    <blockquote class="border-width-4px border-color-olivine-green text-extra-medium padding-25px-left pe-0 margin-40px-top margin-30px-bottom lg-w-95">
                        Envie de tester de nouveaux skis ou d’en offrir sans se ruiner !
                    </blockquote>
                    <p class="w-90 md-w-100">Les skis d’occasion sont parfaits pour la saison 2022. Que vous souhaitiez offrir des skis à un débutant ou à un enfant qui grandit, ou que vous souhaitiez vous équiper à moindre coût, notre sélection de grandes marques vous tend les bras.</p>
                    <a href="https://fr.ze-hero.com/achat-occasion/equipement-occasion/ski-occasionl" title="Lien vers la boutique en ligne ZE HERO" class="btn btn-fancy btn-small btn-transparent-light-gray margin-10px-top">Jusqu'à -60% dans la boutique en ligne</a>
                </div>
                <div class="col-12 col-md-10 col-lg-7 offset-xl-1 wow animate__zoomIn" data-wow-delay="0.4s">
                    <a href="https://fr.ze-hero.com/achat-occasion/equipement-occasion/ski-occasion" title="Lien vers la boutique en ligne ZE HERO">
                        <img src="{% include image.html file="https://res.cloudinary.com/deddrj0yb/image/upload/v1639991251/website/winter/skis-occasion_vcqy77.png" sizevar="" width="652" height="521" %}" alt="Image illustrant la boutique en ligne ZE HERO" />
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- start section -->
    <section class="bg-light-gray">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-6 text-center margin-5-rem-bottom md-margin-4-rem-bottom wow animate__fadeIn">
                    <span class="alt-font font-weight-600 text-green text-uppercase letter-spacing-1px d-block margin-5px-bottom">ZE HERO propose...</span>
                    <h5 class="alt-font font-weight-700 text-slate-blue letter-spacing-minus-1px text-uppercase">Des activités pour l'hiver</h5>
                </div>
            </div>
        </div>
        <div class="container-fluid padding-five-lr xl-padding-two-lr lg-padding-four-lr">
            <div class="row row-cols-1 row-cols-xl-4 row-cols-sm-2">
                {% assign activities = site[page.collection] %}
                {% for activity in activities %}
                {% if activity.path contains "/activity/" %}
                <!-- start services item -->
                <div class="col interactive-banners-style-11 text-center lg-margin-30px-bottom xs-margin-15px-bottom wow animate__fadeIn margin-30px-bottom" data-wow-delay="0.2s">
                    <div class="interactive-banners-box">
                        <div class="interactive-banners-box-image">
                            {% capture download_note %}{{ activity.image01_href }}{% endcapture %}
                            <img src="{% include image.html file=download_note sizevar="activitylist" width="" height="" %}" alt="">
                            <div class="interactive-banners-text-overlay bg-slate-blue"></div>
                            <div class="opacity-extra-medium bg-gradient-dark-slate-blue-transparent"></div>
                        </div>
                        <div class="interactive-banners-text-content padding-5-rem-lr xl-padding-3-half-rem-lr">
                            <h6 class="alt-font font-weight-600 text-white text-uppercase margin-5px-bottom">{{ activity.title }}</h6>
                            <span class="alt-font text-medium text-white opacity-7 text-uppercase letter-spacing-1px d-block">{{ activity.baseline }}</span>
                            <a href="{{ activity.url }}" class="btn btn-fancy btn-small btn-green margin-35px-top">{{ config.activity.readmore }}</a>
                        </div>
                    </div>
                </div>
                <!-- end services item -->
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- end section -->
   
    <!-- start section -->
    <section class="">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-12 col-lg-6 position-relative text-center md-margin-30px-bottom wow animate__fadeIn" data-wow-delay="0.2s">
                    <img src="{% include image.html file="https://res.cloudinary.com/deddrj0yb/image/upload/v1638883623/website/summer/Groupe-accolade_ctazuf.jpg" sizevar="" width="476" height="652" %}" alt="" />
                    <div class="absolute-middle-center">
                        <a href="https://www.youtube.com/watch?v=PpqRPg-S-J0" class="popup-youtube video-icon-box video-icon-large position-relative">
                            <span>
                                <span class="video-icon bg-white">
                                    <i class="icon-simple-line-control-play text-extra-dark-gray"></i>
                                    <span class="video-icon-sonar">
                                        <span class="video-icon-sonar-bfr bg-white opacity-7"></span>
                                        <span class="video-icon-sonar-afr bg-white"></span>
                                    </span>
                                </span>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-xl-4 col-lg-5 offset-lg-1 col-md-7">
                    <h4 class="alt-font font-weight-600 text-extra-dark-gray margin-4-half-rem-bottom letter-spacing-minus-1px text-center text-lg-start wow animate__fadeInRight" data-wow-delay="0.2s">L’outdoor au rythme de vos émotions</h4>
                    <!-- start feature box item -->
                    <div class="feature-box feature-box-left-icon-middle margin-4-half-rem-bottom wow animate__fadeInRight" data-wow-delay="0.3s">
                        <div class="feature-box-icon feature-box-icon-rounded dark bg-white w-85px h-85px rounded-circle box-shadow-small margin-40px-right">
                            <i class="line-icon-Cursor-Click2 icon-very-medium"></i>
                            <div class="feature-box-icon-hover bg-extra-dark-gray rounded-circle"></div>
                        </div>
                        <div class="feature-box-content last-paragraph-no-margin">
                            <span class="alt-font font-weight-500 margin-5px-bottom d-block text-extra-dark-gray">Seul ou à plusieurs</span>
                            <p>A la recherche de sensations fortes ou de moments de partage, vivez une expérience unique</p>
                        </div>
                    </div>
                    <!-- end feature box item -->
                    <!-- start feature box item -->
                    <div class="feature-box feature-box-left-icon-middle margin-4-half-rem-bottom wow animate__fadeInRight" data-wow-delay="0.4s">
                        <div class="feature-box-icon feature-box-icon-rounded dark bg-white w-85px h-85px rounded-circle box-shadow-small margin-40px-right">
                            <i class="line-icon-Sand-watch2 icon-very-medium"></i>
                            <div class="feature-box-icon-hover bg-extra-dark-gray rounded-circle"></div>
                        </div>
                        <div class="feature-box-content last-paragraph-no-margin">
                            <span class="alt-font font-weight-500 margin-5px-bottom d-block text-extra-dark-gray">Sans compromis</span>
                            <p>Faites le choix de la passion, du dépassement de soi, de la fierté, du grand air et de la liberté</p>
                        </div>
                    </div>
                    <!-- end feature box item -->
                    <!-- start feature box item -->
                    <div class="feature-box feature-box-left-icon-middle wow animate__fadeInRight" data-wow-delay="0.5s">
                        <div class="feature-box-icon feature-box-icon-rounded dark bg-white w-85px h-85px rounded-circle box-shadow-small margin-40px-right">
                            <i class="line-icon-Idea-5 icon-very-medium"></i>
                            <div class="feature-box-icon-hover bg-extra-dark-gray rounded-circle"></div>
                        </div>
                        <div class="feature-box-content last-paragraph-no-margin">
                            <span class="alt-font font-weight-500 margin-5px-bottom d-block text-extra-dark-gray">Osez l'émotion</span>
                            <p>Grâce aux activités sélectionnées et testées par nos équipes professionnelles</p>
                        </div>
                    </div>
                    <!-- end feature box item -->
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center margin-7-rem-top lg-margin-4-half-rem-top wow animate__fadeIn" data-wow-delay="0.6s">
                    <span class="alt-font text-extra-dark-gray text-large">Prêt à devenir ZE HERO? <a href="/fr/hiver/activites" class="font-weight-600 text-decoration-line-bottom text-extra-dark-gray text-black-hover section-link">Rechercher une activité</a></span>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
    
    {% include section_blog.html %}

    {% include section_up_footer.html %}
</div>

