{% assign thispage = site.data.content.winter_homepage %}

{% include elements/generic_variables.html %}

<div class="main-content">
    <!-- start section -->
    <section class="parallax p-0" data-parallax-background-ratio="0.3" style="background-image:url('{{ thispage.s01.image_hero }}');">
        <div class="position-absolute cover-background top-0px left-0px w-100 h-100" data-parallax-background-ratio="0.5" style="background-image: url('thispage.s01.image_hero');"></div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-5 col-md-6 col-sm-7 full-screen md-h-650px sm-h-500px d-flex flex-column justify-content-center padding-8-rem-tb">
                    <h1 class="alt-font font-weight-600 title-large text-extra-dark-gray letter-spacing-minus-4px margin-4-half-rem-bottom sm-letter-spacing-minus-1-half xs-w-65">{{ thispage.s01.p01.[page.language] }}</h1>
                    <a href="contact-us-classic.html" class="btn btn-extra-large btn-expand-ltr text-white btn-rounded align-self-start font-weight-600">{{ thispage.s01.p02.[page.language] }}<span class="bg-green"></span></a>
                </div>
            </div>
        </div>
        <div class="scroll-down-bottom">
            <a href="#about" class="section-link d-block w-2px h-35px bg-white mx-auto right-0px left-0px position-absolute">
                <span class="scroll-down-text alt-font font-weight-600 text-extra-dark-gray letter-spacing-minus-1-half margin-5px-bottom">scroll</span>
            </a>
        </div>
    </section>
    <!-- end section -->
    <!-- start section -->
    <section id="about" class="big-section">
        <div class="container">
            
            <div class="row align-items-end justify-content-center ">
                <div class="col-12 col-lg-3 pe-lg-0 md-margin-25px-bottom sm-margin-15px-bottom text-center text-lg-start wow animate__fadeIn" data-wow-delay="0.2s">
                    <span class="alt-font font-weight-600 title-large text-green d-block letter-spacing-minus-5px sm-letter-spacing-minus-1-half">Hero<span class="text-extra-dark-gray">.</span></span>
                </div>
                <div class="col-12 col-lg-5 col-md-10 text-lg-end md-margin-25px-bottom text-center text-lg-start wow animate__fadeIn" data-wow-delay="0.4s">
                    <h4 class="alt-font font-weight-600 text-extra-dark-gray d-block mb-0 padding-2-half-rem-right letter-spacing-minus-1px lg-no-padding-right">Nos équipes de passionnés vous ont préparé le meilleur des activités outdoor.</h4>
                </div>
                <div class="col-12 col-lg-4 col-md-9 padding-30px-left md-padding-15px-left text-center text-lg-start wow animate__fadeIn" data-wow-delay="0.6s">
                    <p class="w-80 margin-15px-bottom lg-w-100">Découvrez les activités près de chez vous et profitez d’expériences inoubliables seul, entre amis ou en famille !</p>
                    <a href="about-us.html" class="btn btn-link btn-extra-large text-extra-dark-gray font-weight-600">En savoir plus</a>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- start section -->
    <section class="bg-light-gray">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-6 text-center margin-5-rem-bottom md-margin-4-rem-bottom wow animate__fadeIn">
                    <span class="alt-font font-weight-600 text-green text-uppercase letter-spacing-1px d-block margin-5px-bottom">ZE HERO propose...</span>
                    <h5 class="alt-font font-weight-700 text-slate-blue letter-spacing-minus-1px text-uppercase">Des activités pour l'hiver</h5>
                </div>
            </div>
        </div>
        <div class="container-fluid padding-five-lr xl-padding-two-lr lg-padding-four-lr">
            <div class="row row-cols-1 row-cols-xl-4 row-cols-sm-2">
                {% assign activities = site[page.collection] %}
                {% for activity in activities %}
                {% if activity.path contains "/activity/" %}
                <!-- start services item -->
                <div class="col interactive-banners-style-11 text-center lg-margin-30px-bottom xs-margin-15px-bottom wow animate__fadeIn margin-30px-bottom" data-wow-delay="0.2s">
                    <div class="interactive-banners-box">
                        <div class="interactive-banners-box-image">
                            <img src="{{ imgsize.url }}{{ imgsize.activitylist }}{{activity.image01_href | remove: 'https://res.cloudinary.com/deddrj0yb/image/upload' }}" alt="">
                            <div class="interactive-banners-text-overlay bg-slate-blue"></div>
                            <div class="opacity-extra-medium bg-gradient-dark-slate-blue-transparent"></div>
                        </div>
                        <div class="interactive-banners-text-content padding-5-rem-lr xl-padding-3-half-rem-lr">
                            <h6 class="alt-font font-weight-600 text-white text-uppercase margin-5px-bottom">{{ activity.title }}</h6>
                            <span class="alt-font text-medium text-white opacity-7 text-uppercase letter-spacing-1px d-block">{{ activity.baseline }}</span>
                            <a href="{{ activity.url }}" class="btn btn-fancy btn-small btn-green margin-35px-top">{{ config.activity.readmore }}</a>
                        </div>
                    </div>
                </div>
                <!-- end services item -->
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- start section -->
    <section class="big-section border-top border-color-medium-gray pb-0">
        <div class="container">
            <div class="row align-items-center margin-10-rem-bottom md-margin-5-rem-bottom sm-margin-4-rem-bottom">
                <div class="col-12 col-lg-4 text-center text-lg-start md-margin-30px-bottom wow animate__fadeIn">
                    <h4 class="alt-font font-weight-600 text-extra-dark-gray mb-0 letter-spacing-minus-1px">Des souvenirs mémorables</h4>
                </div>
                <div class="col-12 col-lg-8 text-center wow animate__fadeIn">
                    <!-- start filter navigation -->
                    <ul class="portfolio-filter grid-filter nav nav-tabs justify-content-center justify-content-lg-end border-0 text-uppercase font-weight-500 alt-font">
                        <li class="nav active"><a data-filter="*" href="#">Tout</a></li>
                        <li class="nav"><a data-filter=".branding" href="#">Ski</a></li>
                        <li class="nav"><a data-filter=".graphics" href="#">Montagne</a></li>
                        <li class="nav"><a data-filter=".logos" href="#">Foret</a></li>
                        <li class="nav"><a data-filter=".photography" href="#">Trail</a></li>
                    </ul>
                    <!-- end filter navigation -->
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 filter-content px-md-0 wow animate__fadeIn">
                    <ul class="portfolio-bordered portfolio-wrapper grid grid-loading grid-4col xl-grid-4col lg-grid-2col md-grid-2col sm-grid-2col xs-grid-1col text-center">
                        <li class="grid-sizer"></li>
                        <!-- start portfolio item -->
                        <li class="grid-item logos branding wow animate__fadeIn">
                            <a href="single-project-page-01.html">
                                <div class="portfolio-box">
                                    <div class="portfolio-image bg-white">
                                        <img src="/images/summer/Souvenir-montagne.webp" alt="" />
                                        <div class="portfolio-hover bg-white justify-content-center d-flex flex-column">
                                            <div class="scale">
                                                <div class="alt-font text-extra-dark-gray font-weight-600 letter-spacing-minus-1px d-block text-extra-large text-uppercase">Motion</div>
                                                <div class="text-uppercase text-medium-gray text-small alt-font d-block">Identity</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <!-- end portfolio item -->
                        <!-- start portfolio item -->
                        <li class="grid-item logos graphics wow animate__fadeIn">
                            <a href="single-project-page-02.html">
                                <div class="portfolio-box">
                                    <div class="portfolio-image bg-white">
                                        <img src="/images/summer/Souvenir-montagne-800x1600.webp" alt="" />
                                        <div class="portfolio-hover bg-white justify-content-center d-flex flex-column">
                                            <div class="scale">
                                                <div class="alt-font text-extra-dark-gray font-weight-600 letter-spacing-minus-1px d-block text-extra-large text-uppercase">Biolator</div>
                                                <div class="text-uppercase text-medium-gray text-small alt-font d-block">Branding</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <!-- end portfolio item -->
                        <!-- start portfolio item -->
                        <li class="grid-item photography branding wow animate__fadeIn">
                            <a href="single-project-page-03.html">
                                <div class="portfolio-box">
                                    <div class="portfolio-image bg-white">
                                        <img src="/images/summer/Souvenir-randonnee-2.webp" alt="" />
                                        <div class="portfolio-hover bg-white justify-content-center d-flex flex-column">
                                            <div class="scale">
                                                <div class="alt-font text-extra-dark-gray font-weight-600 letter-spacing-minus-1px d-block text-extra-large text-uppercase">Oslands</div>
                                                <div class="text-uppercase text-medium-gray text-small alt-font d-block">Branding</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <!-- end portfolio item -->
                        <!-- start portfolio item -->
                        <li class="grid-item photography graphics wow animate__fadeIn">
                            <a href="single-project-page-04.html">
                                <div class="portfolio-box">
                                    <div class="portfolio-image bg-white">
                                        <img src="/images/summer/Souvenir-randonnee-3.webp" alt="" />
                                        <div class="portfolio-hover bg-white justify-content-center d-flex flex-column">
                                            <div class="scale">
                                                <div class="alt-font text-extra-dark-gray font-weight-600 letter-spacing-minus-1px d-block text-extra-large text-uppercase">Financial</div>
                                                <div class="text-uppercase text-medium-gray text-small alt-font d-block">Photography</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <!-- end portfolio item -->
                        <!-- start portfolio item -->
                        <li class="grid-item logos graphics branding wow animate__fadeIn">
                            <a href="single-project-page-05.html">
                                <div class="portfolio-box">
                                    <div class="portfolio-image bg-white">
                                        <img src="/images/summer/Souvenir-tente.webp" alt="" />
                                        <div class="portfolio-hover bg-white justify-content-center d-flex flex-column">
                                            <div class="scale">
                                                <div class="alt-font text-extra-dark-gray font-weight-600 letter-spacing-minus-1px d-block text-extra-large text-uppercase">Dupont</div>
                                                <div class="text-uppercase text-medium-gray text-small alt-font d-block">Branding</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <!-- end portfolio item -->
                        <!-- start portfolio item -->
                        <li class="grid-item logos photography wow animate__fadeIn">
                            <a href="single-project-page-01.html">
                                <div class="portfolio-box">
                                    <div class="portfolio-image bg-white">
                                        <img src="/images/summer/Souvenir-velo.webp" alt="" />
                                        <div class="portfolio-hover bg-white justify-content-center d-flex flex-column">
                                            <div class="scale">
                                                <div class="alt-font text-extra-dark-gray font-weight-600 letter-spacing-minus-1px d-block text-extra-large text-uppercase">Gardner</div>
                                                <div class="text-uppercase text-medium-gray text-small alt-font d-block">Branding</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <!-- end portfolio item -->
                        <!-- start portfolio item -->
                        <li class="grid-item graphics photography branding wow animate__fadeIn">
                            <a href="single-project-page-02.html">
                                <div class="portfolio-box">
                                    <div class="portfolio-image bg-white">
                                        <img src="/images/summer/Souvenir-randonnee.webp" alt="" />
                                        <div class="portfolio-hover bg-white justify-content-center d-flex flex-column">
                                            <div class="scale">
                                                <div class="alt-font text-extra-dark-gray font-weight-600 letter-spacing-minus-1px d-block text-extra-large text-uppercase">Truenorth</div>
                                                <div class="text-uppercase text-medium-gray text-small alt-font d-block">Photography</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <!-- end portfolio item -->
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- start section -->
    <section class="">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-12 col-lg-6 position-relative text-center md-margin-30px-bottom wow animate__fadeIn" data-wow-delay="0.2s">
                    <img src="/images/summer/Outdoor-famille.webp" alt="" />
                    <div class="absolute-middle-center">
                        <a href="https://www.youtube.com/watch?v=PpqRPg-S-J0" class="popup-youtube video-icon-box video-icon-large position-relative">
                            <span>
                                <span class="video-icon bg-white">
                                    <i class="icon-simple-line-control-play text-extra-dark-gray"></i>
                                    <span class="video-icon-sonar">
                                        <span class="video-icon-sonar-bfr bg-white opacity-7"></span>
                                        <span class="video-icon-sonar-afr bg-white"></span>
                                    </span>
                                </span>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-xl-4 col-lg-5 offset-lg-1 col-md-7">
                    <h4 class="alt-font font-weight-600 text-extra-dark-gray margin-4-half-rem-bottom letter-spacing-minus-1px text-center text-lg-start wow animate__fadeInRight" data-wow-delay="0.2s">L’outdoor au rythme de vos émotions</h4>
                    <!-- start feature box item -->
                    <div class="feature-box feature-box-left-icon-middle margin-4-half-rem-bottom wow animate__fadeInRight" data-wow-delay="0.3s">
                        <div class="feature-box-icon feature-box-icon-rounded dark bg-white w-85px h-85px rounded-circle box-shadow-small margin-40px-right">
                            <i class="line-icon-Cursor-Click2 icon-very-medium"></i>
                            <div class="feature-box-icon-hover bg-extra-dark-gray rounded-circle"></div>
                        </div>
                        <div class="feature-box-content last-paragraph-no-margin">
                            <span class="alt-font font-weight-500 margin-5px-bottom d-block text-extra-dark-gray">Seul ou à plusieurs</span>
                            <p>A la recherche de sensations fortes ou de moments de partage, vivez une expérience unique</p>
                        </div>
                    </div>
                    <!-- end feature box item -->
                    <!-- start feature box item -->
                    <div class="feature-box feature-box-left-icon-middle margin-4-half-rem-bottom wow animate__fadeInRight" data-wow-delay="0.4s">
                        <div class="feature-box-icon feature-box-icon-rounded dark bg-white w-85px h-85px rounded-circle box-shadow-small margin-40px-right">
                            <i class="line-icon-Sand-watch2 icon-very-medium"></i>
                            <div class="feature-box-icon-hover bg-extra-dark-gray rounded-circle"></div>
                        </div>
                        <div class="feature-box-content last-paragraph-no-margin">
                            <span class="alt-font font-weight-500 margin-5px-bottom d-block text-extra-dark-gray">Sans compromis</span>
                            <p>Faites le choix de la passion, du dépassement de soi, de la fierté, du grand air et de la liberté</p>
                        </div>
                    </div>
                    <!-- end feature box item -->
                    <!-- start feature box item -->
                    <div class="feature-box feature-box-left-icon-middle wow animate__fadeInRight" data-wow-delay="0.5s">
                        <div class="feature-box-icon feature-box-icon-rounded dark bg-white w-85px h-85px rounded-circle box-shadow-small margin-40px-right">
                            <i class="line-icon-Idea-5 icon-very-medium"></i>
                            <div class="feature-box-icon-hover bg-extra-dark-gray rounded-circle"></div>
                        </div>
                        <div class="feature-box-content last-paragraph-no-margin">
                            <span class="alt-font font-weight-500 margin-5px-bottom d-block text-extra-dark-gray">Osez l'émotion</span>
                            <p>Grâce aux activités sélectionnées et testées par nos équipes professionnelles</p>
                        </div>
                    </div>
                    <!-- end feature box item -->
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center margin-7-rem-top lg-margin-4-half-rem-top wow animate__fadeIn" data-wow-delay="0.6s">
                    <span class="alt-font text-extra-dark-gray text-large">Prêt à devenir ZE HERO? <a href="#pricing" class="font-weight-600 text-decoration-line-bottom text-extra-dark-gray text-black-hover section-link">Rechercher une activité</a></span>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- start section -->
    <section class="cover-background overlap-height" style="background-image:url('/images/winter/Hero-montagne.webp');">
        <div class="opacity-extra-medium bg-dark-slate-blue"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-xl-6 col-lg-7 col-sm-8 text-center z-index-1 overlap-gap-section wow animate__fadeIn" data-wow-delay="0.4s">
                    <span class="line-icon-Summer icon-extra-large text-white margin-30px-bottom"></span>
                    <h4 class="alt-font font-weight-500 text-white letter-spacing-minus-1px margin-35px-bottom xs-margin-25px-bottom">Our tour packages are the <span class="font-weight-600">easiest and <span class="text-decoration-line-bottom-thick">most efficient</span></span></h4>
                    <span class="alt-font font-weight-500 text-white text-uppercase letter-spacing-2px">Subscribe to have the journey!</span>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- start section -->
    <section class="overflow-visible">
        <div class="container">
            <div class="row">
                <div class="col-12 overlap-section wow animate__flipInX" data-wow-delay="0.2s">
                    <div class="bg-neon-orange border-radius-6px d-flex flex-column flex-lg-row align-items-center padding-40px-tb padding-7-rem-lr lg-padding-5-rem-lr xs-padding-2-rem-lr">
                        <h6 class="alt-font font-weight-500 text-extra-dark-gray letter-spacing-minus-1px w-45 mb-lg-0 lg-w-50 md-w-100 text-center text-lg-start md-margin-30px-bottom xs-margin-20px-bottom">Inscrivez-vous pour des infos exclusives</h6>
                        <div class="newsletter-email position-relative w-55 lg-w-50 md-w-100">
                            <form action="email-templates/subscribe-newsletter.php" method="post">
                                <input class="border-radius-5px large-input border-0 box-shadow-extra-large bg-white m-0 required" name="email" placeholder="Entrer votre adresse email" type="email">
                                <input type="hidden" name="redirect" value="">
                                <button class="btn btn-medium line-height-18px margin-10px-right border-left border-width-1px border-color-black-transparent xs-no-margin-right submit"><i class="far fa-envelope text-extra-dark-gray icon-very-small left-icon xs-no-margin-right"></i><span class="d-none d-sm-inline-block">m'inscrire</span></button>
                                <div class="form-results border-radius-5px position-absolute d-none"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row margin-5-rem-bottom margin-4-half-rem-top md-margin-4-rem-bottom align-items-center">
                <div class="col-12 col-lg-6 col-md-7 text-center text-md-start sm-margin-10px-bottom wow animate__fadeIn">
                    <h5 class="alt-font font-weight-600 text-extra-dark-gray letter-spacing-minus-1px text-uppercase margin-5px-bottom">Articles outdoor</h5>
                    <p class="m-0 d-block">The hand picked posts for travelling enthusiasts</p>
                </div>
                <div class="col-12 col-lg-6 col-md-5 text-center text-md-end">
                    <a href="blog-classic.html" class="btn btn-link btn-extra-large text-extra-dark-gray text-extra-dark-gray-hover">Lire tous les articles</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12 blog-content px-sm-0">
                    <ul class="blog-classic blog-wrapper grid grid-loading grid-4col xl-grid-4col lg-grid-3col md-grid-2col sm-grid-2col xs-grid-1col gutter-extra-large">
                        <li class="grid-sizer"></li>
                        

                        {% assign posts = site[page.collection] | reverse %}
                        {% for blogpost in posts %}
                        {% if blogpost.path contains "/posts/" %}
                        <!-- start blog item -->
                        <li class="grid-item wow animate__fadeIn">
                            <div class="blog-post">
                                <div class="blog-post-image margin-40px-bottom md-margin-35px-bottom xs-margin-25px-bottom">
                                    <a href="{{ blogpost.url }}" title="Lien vers l'aticle de blog {{ blogpost.title }}"><img src="{{ blogpost.image01_href }}" alt="{{ blogpost.image01_alt }}"/></a>
                                </div>
                                <div class="post-details last-paragraph-no-margin">
                                    <a href="blog-post-layout-01.html" class="alt-font font-weight-500 text-extra-medium text-extra-dark-gray text-neon-orange-hover d-block margin-20px-bottom xs-margin-10px-bottom">{{ blogpost.title }}</a>
                                    <p class="w-95">{{ blogpost.description }}</p>
                                </div>
                            </div>
                        </li>
                        {% endif %}
                        {% endfor %}
                        <!-- end blog item -->
                        
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- start section -->
    <section class="big-section home-design-agency" style="background:url('/images/global/home-design-agency-bg-img-02.png') no-repeat center right;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-3 md-margin-4-rem-bottom xs-margin-3-rem-bottom wow animate__fadeInLeft" data-wow-delay="0.6s">
                    <div class="outside-box-left text-center text-lg-end">
                        <span class="alt-font font-weight-600 text-big text-green letter-spacing-minus-10px d-block padding-3-rem-right md-no-padding-right sm-letter-spacing-minus-1-half">ZE HERO</span>
                    </div>
                </div>
                <div class="col-12 col-lg-6 text-center text-lg-start md-margin-3-rem-bottom wow animate__fadeIn" data-wow-delay="0.2s">
                    <h4 class="alt-font font-weight-500 text-extra-dark-gray mb-0 letter-spacing-minus-1px d-inline-block md-w-80 xs-w-100">L’outdoor au rythme de vos émotions</h4>
                </div>
                <div class="col-12 col-lg-3 text-center wow animate__fadeIn" data-wow-delay="0.4s">
                    <a href="contact-us-modern.html" class="btn btn-fancy btn-box-shadow btn-medium btn-dark-gray">Chercher une activité</a>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
</div>

