<section class="padding-100px-tb {% if block.blockBGcolor == 'gris' %} bg-light-gray {% endif %}">
    {% if block.headtitle %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 text-center margin-5-rem-bottom md-margin-4-rem-bottom wow animate__fadeIn">
                <span class="alt-font font-weight-600 text-green text-uppercase letter-spacing-1px d-block margin-5px-bottom">{{ block.headtitle.headline }}</span>
                <h5 class="alt-font font-weight-700 text-slate-blue letter-spacing-minus-1px text-uppercase">{{ block.headtitle.title }}</h5>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                {% assign collection = site[page.collection] %}
                {% assign serviceType = block.service %}
                {% assign servicePath = season_language | prepend:'/' | append: '/' | append: serviceType | append: '/' %}
                
                {% if serviceType == 'activity' %}
                <!-- start filter navigation -->
                <ul class="portfolio-filter grid-filter nav nav-tabs justify-content-center border-0 text-uppercase font-weight-500 alt-font padding-6-rem-bottom md-padding-4-half-rem-bottom sm-padding-2-rem-bottom">
                    {% assign catList = site[page.collection] | where_exp: 'item', "item.path contains servicePath "  %}
                    {% assign service = catList %}
                    {% assign itemList =  service | map: 'categorie' | uniq | compact | sort_natural %}
                   
                    <li class="nav active"><a data-filter="*" href="#">Tout ({{ service | size }})</a></li>                
                        {% assign counter = '0' %}
                        {% for item in itemList  %}
                            
                            {% for page in service %}
                                {% for tag in page.categorie %}
                                    {% if tag == 'Vélo' %}
                                        {% capture counter %}{{ counter | plus:'1' }}{% endcapture %}
                                                {% if item %}
                                                <li class="nav"><a data-filter=".{{ item | remove: ' ' | remove: '/'  }}" href="#">{{ item }} ({{ counter }})</a></li>
                                                {% else %}
                                                {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                </ul>
                <!-- end filter navigation -->
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 filter-content">
                <ul class="portfolio-classic portfolio-wrapper grid grid-loading grid-4col xl-grid-4col lg-grid-4col md-grid-2col sm-grid-2col xs-grid-1col gutter-extra-large text-center">
                    <li class="grid-sizer"></li>

                    
                    {% for service in collection %}
                    {% if service.path contains servicePath %}
                    <!-- start portfolio item -->
                    <li class="grid-item {{ service.categorie | remove: ' ' | remove: '/' }} ">
                        <div class="col interactive-banners-style-11 text-center lg-margin-30px-bottom xs-margin-15px-bottom margin-30px-bottom">
                            <div class="interactive-banners-box">
                                <div class="interactive-banners-box-image">
                                    {% capture download_note %}{{ service.image01_href }}{% endcapture %}
                                    <img loading="lazy" src="{% include image.html file=download_note sizevar='activitylist' %}" alt="Image {{ service.title }} ">
                                    <div class="interactive-banners-text-overlay bg-slate-blue"></div>
                                    <div class="opacity-extra-medium bg-gradient-dark-slate-blue-transparent"></div>
                                </div>
                                <div class="interactive-banners-text-content padding-5-rem-lr xl-padding-3-half-rem-lr">
                                    <h6 class="alt-font font-weight-600 text-white text-uppercase margin-5px-bottom">{{ service.title }}</h6>
                                    <span class="alt-font text-medium text-white opacity-7 text-uppercase letter-spacing-1px d-block">{{ service.baseline }}</span>
                                    <a href="{{ service.url }}" class="btn btn-fancy btn-small btn-green margin-35px-top">{{ config.[serviceType].readmore }}</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- end portfolio item -->
                    {% endif %}
                    {% endfor %}

                </ul>
            </div>
        </div>
    </div>
</section>