<!-- start section -->
<section class="border-top border-width-1px border-color-medium-gray padding-ten-lr lg-no-padding-lr">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center margin-six-bottom">
                <h6 class="alt-font text-extra-dark-gray font-weight-500">Image gallery style 02</h6>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12">
                <ul class="portfolio-classic portfolio-wrapper grid grid-loading grid-4col xl-grid-4col lg-grid-4col md-grid-2col sm-grid-2col xs-grid-1col gutter-large text-center">
                    <li class="grid-sizer"></li>
                    <!-- start lightbox gallery item -->
                    <li class="grid-item grid-item-double wow animate__fadeIn">
                        <a href="https://via.placeholder.com/800x794" title="Lightbox gallery image title..." data-group="lightbox-gallery-2" class="lightbox-group-gallery-item">
                            <div class="portfolio-box">
                                <div class="portfolio-image bg-gradient-peacock-blue-crome-yellow">
                                    <img src="https://via.placeholder.com/800x794" alt="" />
                                    <div class="portfolio-hover justify-content-end d-flex flex-column padding-50px-tb lg-padding-30px-tb xs-padding-15px-tb">
                                        <i class="feather icon-feather-zoom-in portfolio-plus-icon font-weight-300 text-white absolute-middle-center icon-small move-top-bottom"></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <!-- end lightbox gallery item -->
                    <!-- start lightbox gallery item -->
                    <li class="grid-item grid-item-double wow animate__fadeIn">
                        <a href="https://via.placeholder.com/800x387" title="Lightbox gallery image title..." data-group="lightbox-gallery-2" class="lightbox-group-gallery-item">
                            <div class="portfolio-box">
                                <div class="portfolio-image bg-gradient-peacock-blue-crome-yellow">
                                    <img src="https://via.placeholder.com/800x387" alt="" />
                                    <div class="portfolio-hover justify-content-end d-flex flex-column padding-50px-tb lg-padding-30px-tb xs-padding-15px-tb">
                                        <i class="feather icon-feather-zoom-in portfolio-plus-icon font-weight-300 text-white absolute-middle-center icon-small move-top-bottom"></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <!-- end lightbox gallery item -->
                    <!-- start lightbox gallery item -->
                    <li class="grid-item wow animate__fadeIn">
                        <a href="https://via.placeholder.com/800x794" title="Lightbox gallery image title..." data-group="lightbox-gallery-2" class="lightbox-group-gallery-item">
                            <div class="portfolio-box">
                                <div class="portfolio-image bg-gradient-peacock-blue-crome-yellow">
                                    <img src="https://via.placeholder.com/800x794" alt="" />
                                    <div class="portfolio-hover justify-content-end d-flex flex-column padding-50px-tb lg-padding-30px-tb xs-padding-15px-tb">
                                        <i class="feather icon-feather-zoom-in portfolio-plus-icon font-weight-300 text-white absolute-middle-center icon-small move-top-bottom"></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <!-- end lightbox gallery item -->
                    <!-- start lightbox gallery item -->
                    <li class="grid-item wow animate__fadeIn">
                        <a href="https://via.placeholder.com/800x794" title="Lightbox gallery image title..." data-group="lightbox-gallery-2" class="lightbox-group-gallery-item">
                            <div class="portfolio-box">
                                <div class="portfolio-image bg-gradient-peacock-blue-crome-yellow">
                                    <img src="https://via.placeholder.com/800x794" alt="" />
                                    <div class="portfolio-hover justify-content-end d-flex flex-column padding-50px-tb lg-padding-30px-tb xs-padding-15px-tb">
                                        <i class="feather icon-feather-zoom-in portfolio-plus-icon font-weight-300 text-white absolute-middle-center icon-small move-top-bottom"></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <!-- end lightbox gallery item -->
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- end section -->