<!-- start section -->
<section class="padding-100px-tb bg-medium-light-gray wow animate__fadeIn">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-6 col-lg-7 col-md-8 text-center px-md-0 wow animate__fadeIn">
                <h3 class="h1 alt-font font-weight-700 text-extra-dark-gray text-uppercase d-inline-block letter-spacing-minus-1px margin-4-rem-bottom">{{ site.data.config[language].newsletter.title }}</h3>
                <!-- start newsletter form -->
                <div class="newsletter-style-01 position-relative margin-4-rem-bottom xs-margin-2-rem-bottom">
                    <form name="newsletter-{{ page.language }}"  method="POST" data-netlify="true">
                        <input class="border-radius-100px extra-large-input box-shadow-medium border-none padding-50px-left m-0 required" name="email" placeholder="{{ site.data.config.[page.language].newsletter.placeholder }}" type="email">
                        <!-- <input type="hidden" name="redirect" value=""> -->
                        <button type="submit" class="btn btn-extra-large border-none text-slate-blue margin-20px-right"><i class="far fa-envelope text-gradient-light-purple-light-red left-icon"></i>{{ site.data.config.[page.language].newsletter.subscribe-btn }}</button>
                        
                    </form>
                </div>
                <span class="text-small w-65 d-block m-auto line-height-24px md-w-75 xs-w-100">{{ site.data.config.[page.language].newsletter.privacy }}</span>
                <!-- end newsletter form -->
            </div>
        </div>
    </div>
</section>
<!-- end section -->