{% case page.type %}
  {% when 'generic' %}

<section class="padding-100px-tb {% if block.blockBGcolor == 'gris' %} bg-light-gray {% endif %}">
    {% if block.headtitle %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 text-center margin-5-rem-bottom md-margin-4-rem-bottom wow animate__fadeIn">
                <span class="alt-font font-weight-600 text-green text-uppercase letter-spacing-1px d-block margin-5px-bottom">{{ block.headtitle.headline }}</span>
                <h2 class="h2 alt-font font-weight-700 text-slate-blue letter-spacing-minus-1px text-uppercase">{{ block.headtitle.title }}</h2>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                {% assign collection = site[page.collection] %}
                {% assign serviceType = block.service %}
                {% assign filterCat = block.filterCat %}
                {% assign filterLevel = block.filterLevel %}
                {% assign filterHome = block.filterHome %}
                {% assign servicePath = season_language | prepend:'/' | append: '/' | append: serviceType | append: '/' %}
                
                {% if serviceType == 'activity' and filterCat == 'oui' %}
                <!-- start filter navigation -->
                <ul class="portfolio-filter grid-filter nav nav-tabs justify-content-center border-0 text-uppercase font-weight-500 alt-font padding-6-rem-bottom md-padding-4-half-rem-bottom sm-padding-2-rem-bottom">
                    {% assign catList = site[page.collection] | where_exp: 'item', "item.path contains servicePath "  %}
                    {% assign service = catList %}
                    {% assign itemList =  service | map: 'categorie' | uniq | compact | sort_natural %}
                   
                    <li class="nav active"><a data-filter="*" href="#"><h3 class="h5">Tout ({{ service | size }})</h3></a></li>                
                       
                        {% for item in itemList  %}
                            {% if item %}
                            <li class="nav"><a data-filter=".{{ item | remove: ' ' | remove: '/'  }}" href="#"><h3 class="h5">{{ item }}</h3></a></li>
                            {% else %}
                            {% endif %}          
                        {% endfor %}
                </ul>
                <!-- end filter navigation -->
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 filter-content">
                <ul class="portfolio-classic portfolio-wrapper grid grid-loading grid-4col xl-grid-4col lg-grid-4col md-grid-2col sm-grid-2col xs-grid-1col gutter-extra-large text-center">
                    <li class="grid-sizer"></li>

                    {% assign activityList = site[page.collection] | where_exp: 'item',"item.level <= filterLevel and item.enHome <= filterHome " %}
                    
                    {% for service in activityList %}
                    {% if service.path contains servicePath %}
                    <!-- start portfolio item -->
                    <li class="grid-item {{ service.categorie | remove: ' ' | remove: '/' }} ">
                        <div class="col interactive-banners-style-11 text-center lg-margin-30px-bottom xs-margin-15px-bottom margin-30px-bottom">
                            <div class="interactive-banners-box">
                                <div class="interactive-banners-box-image">
                                    {% capture download_note %}{{ service.image01_href }}{% endcapture %}
                                    <img loading="lazy" src="{% include image.html file=download_note sizevar='activitylist' %}" alt="Image {{ service.title }}" width='322px' height='446px' />
                                    <div class="interactive-banners-text-overlay bg-slate-blue"></div>
                                    {% comment %}<div class="opacity-extra-medium bg-gradient-dark-slate-blue-transparent"></div>{% endcomment %}
                                </div>
                                <div class="interactive-banners-text-content padding-5-rem-lr xl-padding-3-half-rem-lr">
                                    <h4 class="h3 alt-font font-weight-600 text-white text-uppercase margin-5px-bottom">{{ service.title }}</h4>
                                    <span class="alt-font text-medium text-white opacity-7 text-uppercase letter-spacing-1px d-block">{{ service.baseline }}</span>
                                    <a href="{{ service.url }}" class="btn btn-fancy btn-small btn-green margin-35px-top">{{ config.[serviceType].readmore }}</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- end portfolio item -->
                        {% endif %}
                    {% endfor %}

                </ul>
            </div>
        </div>
    </div>
</section>

{% when 'B2B' %}
<!-- start section -->
<section class="p-0 wow animate__fadeIn">
    <div class="container">
        <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 justify-content-center margin-9-rem-bottom lg-margin-7-rem-bottom">
            {% assign collection = site[page.collection] %}
            {% assign serviceType = block.service %}
            {% assign servicePath = season_language | prepend:'/' | append: '/' | append: serviceType | append: '/' %}
            
            {% for service in collection %}
            {% if service.path contains servicePath %}
            <!-- start testimonial item -->
            <div class="col margin-30px-bottom xs-margin-15px-bottom wow animate__fadeIn" data-wow-delay="0.2s">
                <div class="testimonials-style-02 border-radius-5px overflow-hidden">
                    <img class="d-inline-block" loading="lazy" src="{{ imgsize.url }}{{ imgsize.blogpostlist }}{{ service.image_href | remove: 'https://res.cloudinary.com/deddrj0yb/image/upload' }}" alt="{{ service.image_alt }}"  width="600px" height="450px" />
                    <div class="testimonials-content padding-3-half-rem-all bg-light-gray  lg-padding-2-half-rem-lr">
                        <h3 class="h-70px h3 alt-font font-weight-500 text-extra-dark-gray text-uppercase d-block">{{ service.title }}</h3>
                        <p class="h-200px">{{ service.headline }}</p>
                        <a href="{{ service.url }}" class="btn btn-large btn-{{ site.data.config[page.type].site-color }} btn-round-edge-small" title="Visiter la page {{ service.title }}">A partir de {{ service.price }}€ / pers</a>                        
                    </div>
                </div>
            </div>
            <!-- end testimonial item -->
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
<!-- end section -->
{% endcase %}