<!-- start section -->
<section class="padding-100px-tb cover-background wow animate__fadeIn" style="background: url('{{ block.image_bg_href }}')">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-6 col-lg-7 wow animate__fadeIn">
                <div class="margin-25px-bottom text-white opacity-6 alt-font">{{ block.baseline }}</div>
                <h3 class="alt-font text-white font-weight-500 margin-40px-bottom">{{ block.title }}</h3>
                <a href="{{ block.url_link }}" class="btn btn-large btn-expand-ltr text-black">{{ block.title_link }}<span class="bg-transparent-white"></span></a>
            </div>
        </div>
    </div>
</section>
<!-- end section -->