<!-- start section -->
<section class="big-section cover-background background-position-center-bottom" style="background-image:url('{{ block.image_background }}');">
    <div class="container">
        <div class="row align-items-center h-720px lg-h-550px md-h-550px xs-h-750px">
            <div class="col-12 col-xl-5 col-md-6 sm-margin-40px-bottom">
                <h5 class="alt-font font-weight-600 text-medium-slate-blue text-uppercase margin-5px-bottom">{{ block.captiontitleuppercase }}</h5>
                <h1 class="alt-font font-weight-700 text-uppercase text-green margin-25px-bottom letter-spacing-minus-1px">{{ block.title }}</h1>
                <p class="w-90 text-large line-height-30px">{{ block.content }}</p>
                <form action="/fr/contact-success" name="livre-blanc-{{ page.language }}-{{ block.formName }}" method="POST" data-netlify="true">
                    <div class=" position-relative d-inline-block w-95 margin-20px-top margin-30px-bottom">
                        <input class="border-radius-5px large-input bg-white border-color-white box-shadow-large mt-0 required" name="email" placeholder="Email sur lequel envoyer le livre blanc" type="email">
                        <input class="border-radius-5px large-input bg-white border-color-white box-shadow-large mt-0 required" name="lastname" placeholder="Votre nom" type="text">
                        <input class="border-radius-5px large-input bg-white border-color-white box-shadow-large mt-0 required" name="firstname" placeholder="Votre prénom" type="text">
                        <input type="hidden" name="redirect" value="">
                        <button type="submit" class="btn btn-extra-large btn-round-edge btn-{{ site.data.config.[page.type].site-color }} margin-35px-right md-margin-20px-bottom">Recevoir le livre blanc</button>
                    </div>
                </form>
                
             
            </div>
            <div class="col-12 col-xl-7 col-md-6 text-center text-lg-end">
                <img src="{{ block.image_col_right_href }}" alt="{{ block.alt_text_for_image }}"/>
            </div>
        </div>
    </div>
</section>
<!-- end section -->