<!-- start parallax section -->
<section class="parallax overlap-height pb-md-0" data-parallax-background-ratio="0.5" style="background-image: url('{{ block.parlaximg }}');">
    <div class="opacity-very-light bg-extra-dark-gray"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-7 col-md-9 col-sm-10 position-relative text-center overlap-gap-section wow animate__fadeIn">
                <span class="text-white d-block margin-15px-bottom text-uppercase alt-font font-weight-500">{{ block.captionabovetitle }}</span>
                <h4 class="alt-font font-weight-500 text-white margin-8-rem-bottom sm-no-margin-bottom">{{ block.title }}</h4>
            </div>
        </div>
    </div>
</section>
<!-- end parallax section -->
<!-- start section -->
<section class="pt-md-0 position-relative overflow-visible">
    <div class="container">
        <div class="z-index-6 overlap-section">
            <div class="d-flex flex-column">
                <div class="row m-lg-0">
                    <div class="col-12 col-md-6 order-2 order-md-1 bg-light-cream text-center padding-6-half-rem-all lg-padding-4-rem-all last-paragraph-no-margin wow animate__fadeIn" data-wow-delay="0.2s">
                        <h6 class="alt-font text-extra-dark-gray font-weight-500 d-inline-block">{{ block.gridline1title }}</h6>
                        <p>{{ block.gridline1content }}</p>
                    </div>
                    <div class="col-12 col-md-6 order-1 order-md-2 hover-option-6 cover-background sm-h-300px wow animate__fadeIn" data-wow-delay="0.4s" style="background-image: url('{{ block.gridline1img }}')"></div>
                </div>
                <div class="row m-lg-0">
                    <div class="col-12 col-md-6 hover-option-6 cover-background sm-h-300px wow animate__fadeIn" data-wow-delay="0.8s" style="background-image: url('{{ block.gridline2img }}')"></div>
                    <div class="col-12 col-md-6 bg-light-cream text-center padding-6-half-rem-all lg-padding-4-rem-all last-paragraph-no-margin wow animate__fadeIn" data-wow-delay="0.6s">
                        <h6 class="alt-font text-extra-dark-gray font-weight-500 d-inline-block">{{ block.gridline2title }}</h6>
                        <p>{{ block.gridline2content }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>            
</section>
<!-- end section -->