 <!-- start page title -->
 <section class="bg-light-gray margin-85px-top padding-25px-tb sm-padding-30px-tb page-title-small">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-xl-8 col-lg-6 text-center text-lg-start">
                <h1 class="alt-font text-extra-dark-gray font-weight-500 no-margin-bottom d-inline-block">{{ block.title }}</h1>
            </div>
            <div class="col-xl-4 col-lg-6 text-center text-lg-end breadcrumb justify-content-center justify-content-lg-end text-small alt-font md-margin-15px-top">
                <ul>
                    <li><a href="/{{ page.language }}/{{ season_language }}">Accueil</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- end page title --> 