<section class="{% if block.blockBGcolor == 'gris' %} bg-light-gray {% endif %} overflow-visible pt-md-0  pb-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center p-0">
                {% capture download_note %}{{ block.image_href }}{% endcapture %}
                <img src="{% include image.html file=download_note sizevar='illustration' width='' height='' %}" alt="{{ block.alt_text_for_image }}" data-no-retina="">
            </div>
        </div>
    </div>
</section>