<!-- start section -->
<section class="big-section padding-5px-top bg-light-gray">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-7 col-lg-8 col-md-10 text-center">
                <span class="alt-font font-weight-500 text-extra-dark-gray text-uppercase letter-spacing-2px opacity-5 d-block margin-30px-bottom md-margin-20px-bottom">{{ block.intro }}</span>
                <h2 class="alt-font font-weight-500 text-extra-dark-gray letter-spacing-minus-2px margin-50px-bottom md-margin-40px-bottom">{{ block.headline }}</h2>
                <a href="{{ block.button.href_button }}" class="btn btn-large btn-{{ site.data.config.[page.type].site-color }} btn-round-edge-small" title="{{ site.data.config.[page.language].various.link-to }} {{ block.button.text_button }}">{{ block.button.text_button }}</a>
            </div>
        </div> 
    </div>
</section>
<!-- end section -->