<!-- start section -->
<section class="pt-0 pb-0 padding-ten-lr lg-no-padding-lr">
    <div class="container-fluid">
        {% if block.title != '' %}
        <div class="row justify-content-center">
            <div class="col-md-12 text-center margin-four-bottom">
                <h2 class="h2 alt-font text-extra-dark-gray font-weight-500">{{ block.title }}</h2>
            </div>
        </div>
        {% endif %}
        <div class="row justify-content-center">
            <div class="col-12">
                <ul class="portfolio-classic portfolio-wrapper grid grid-loading grid-4col xl-grid-4col lg-grid-4col md-grid-2col sm-grid-2col xs-grid-1col gutter-large text-center">
                    <li class="grid-sizer"></li>
                    <!-- start lightbox gallery item -->
                    <li class="grid-item grid-item-double wow animate__fadeIn">
                        <a href="{{ block.image01_bigsquare }}" title="{{ block.atl_text_image_01 }}" data-group="lightbox-gallery-2" class="lightbox-group-gallery-item">
                            <div class="portfolio-box">
                                <div class="portfolio-image bg-gradient-peacock-blue-crome-yellow">
                                    {% capture download_note %}{{ block.image01_bigsquare }}{% endcapture %}
                                    <img src="{% include image.html file=download_note sizevar="bigsquare" %}" alt="{{ block.atl_text_image_01 }}" width="800px" height="803px" />
                                    <div class="portfolio-hover justify-content-end d-flex flex-column padding-50px-tb lg-padding-30px-tb xs-padding-15px-tb">
                                        <i class="feather icon-feather-zoom-in portfolio-plus-icon font-weight-300 text-white absolute-middle-center icon-small move-top-bottom"></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <!-- end lightbox gallery item -->
                    <!-- start lightbox gallery item -->
                    <li class="grid-item grid-item-double wow animate__fadeIn">
                        <a href="{{ block.image02_rectangle }}" title="{{ block.atl_text_image_02 }}" data-group="lightbox-gallery-2" class="lightbox-group-gallery-item">
                            <div class="portfolio-box">
                                <div class="portfolio-image bg-gradient-peacock-blue-crome-yellow">
                                    {% capture download_note %}{{ block.image02_rectangle }}{% endcapture %}
                                    <img src="{% include image.html file=download_note sizevar="rectangle" %}" alt="{{ block.atl_text_image_02 }}" width="800px" height="387px" />
                                    <div class="portfolio-hover justify-content-end d-flex flex-column padding-50px-tb lg-padding-30px-tb xs-padding-15px-tb">
                                        <i class="feather icon-feather-zoom-in portfolio-plus-icon font-weight-300 text-white absolute-middle-center icon-small move-top-bottom"></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <!-- end lightbox gallery item -->
                    <!-- start lightbox gallery item -->
                    <li class="grid-item wow animate__fadeIn">
                        <a href="{{ block.image03_smallsquare }}" title="{{ block.atl_text_image_03 }}" data-group="lightbox-gallery-2" class="lightbox-group-gallery-item">
                            <div class="portfolio-box">
                                <div class="portfolio-image bg-gradient-peacock-blue-crome-yellow">
                                    {% capture download_note %}{{ block.image03_smallsquare }}{% endcapture %}
                                    <img src="{% include image.html file=download_note sizevar="smlsquare" %}" alt="{{ block.atl_text_image_03 }}" width="400px" height="400px" />
                                    <div class="portfolio-hover justify-content-end d-flex flex-column padding-50px-tb lg-padding-30px-tb xs-padding-15px-tb">
                                        <i class="feather icon-feather-zoom-in portfolio-plus-icon font-weight-300 text-white absolute-middle-center icon-small move-top-bottom"></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <!-- end lightbox gallery item -->
                    <!-- start lightbox gallery item -->
                    <li class="grid-item wow animate__fadeIn">
                        <a href="{{ block.image04_smallsquare }}" title="{{ block.atl_text_image_04 }}" data-group="lightbox-gallery-2" class="lightbox-group-gallery-item">
                            <div class="portfolio-box">
                                <div class="portfolio-image bg-gradient-peacock-blue-crome-yellow">
                                    {% capture download_note %}{{ block.image04_smallsquare }}{% endcapture %}
                                    <img src="{% include image.html file=download_note sizevar="smlsquare" %}" alt="{{ block.atl_text_image_04 }}" width="400px" height="400px" />
                                    <div class="portfolio-hover justify-content-end d-flex flex-column padding-50px-tb lg-padding-30px-tb xs-padding-15px-tb">
                                        <i class="feather icon-feather-zoom-in portfolio-plus-icon font-weight-300 text-white absolute-middle-center icon-small move-top-bottom"></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <!-- end lightbox gallery item -->
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- end section -->