<!-- start section -->
<section class="padding-100px-tb {% if block.blockBGcolor == 'gris' %} bg-light-gray {% endif %}">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 text-center margin-5-half-rem-bottom md-margin-3-rem-bottom wow animate__fadeIn">
                <span class="alt-font font-weight-500 text-{{ site.data.config.site-color2 }} text-uppercase letter-spacing-1px d-block margin-5px-bottom">{{ site.data.config[language].blog.component.baseline }}</span>
                <h4 class="alt-font font-weight-600 text-extra-dark-gray mb-0 letter-spacing-minus-1px">{{ site.data.config[language].blog.component.title }}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-12 blog-content px-sm-0">
                <ul class="blog-classic blog-wrapper grid grid-loading grid-4col xl-grid-4col lg-grid-3col md-grid-2col sm-grid-2col xs-grid-1col gutter-extra-large">
                    <li class="grid-sizer"></li>
                    {% assign posts = site[page.collection] | reverse | where_exp: "page" , "page.season contains season" %}
                            
                    {% for blogpost in posts limit:block.postNumber %}
                    {% if blogpost.path contains "/posts/" %}

                    
                    <!-- start blog item -->
                    <li class="grid-item wow animate__fadeIn">
                        <div class="blog-post">
                            <div class="blog-post-image margin-30px-bottom md-margin-20px-bottom xs-margin-10px-bottom">
                                {% capture download_note %}{{ blogpost.image01_href }}{% endcapture %}
                                <a href="{{ blogpost.url }}" title="Lien vers l'aticle de blog {{ blogpost.title }}" ><img loading="lazy" src="{% include image.html file=download_note sizevar="blogpostlist" width="" height="" %}" alt="{{ blogpost.image01_alt }}"></a>
                            </div>
                            <div class="post-details">
                                <a href="{{ blogpost.url }}" title="Lien vers l'aticle de blog {{ blogpost.title }}" class=" text-{{ site.data.config.site-color2 }} text-{{ site.data.config.site-color2 }}-hover d-block margin-10px-bottom xs-margin-5px-bottom text-small">{{ blogpost.date | frenchDate }}</a>
                                <div class=" h-100px"><a href="{{ blogpost.url }}" title="Lien vers l'aticle de blog {{ blogpost.title }}" class="alt-font font-weight-500 text-extra-medium text-extra-dark-gray text-{{ site.data.config.site-color2 }}-hover d-block margin-20px-bottom xs-margin-10px-bottom">{{ blogpost.post-title }}</a></div>
                                <div class=" h-130px"><p class="w-95">{{ blogpost.meta-description | truncate: 100 }}</p></div>
                            </div>
                        </div>
                    </li>
                    <!-- end blog item -->
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- end section -->