{% if block.button_2_more == true %}
<!-- start section -->
<section class="padding-six-tb sm-padding-50px-tb">
    <div class="container">
        <div class="row row-cols-1 row-cols-lg-4 row-cols-sm-2 justify-content-center">
            <!-- start feature box item -->
            <div class="col md-margin-30px-bottom xs-margin-25px-bottom wow animate__fadeIn">
                <div class="feature-box feature-box-left-icon-middle last-paragraph-no-margin">
                    <div class="feature-box-icon margin-30px-right line-height-0px lg-margin-25px-right">
                        <i class="feather icon-feather-truck icon-extra-medium text-extra-light-gray"></i>
                    </div>
                    <div class="feature-box-content line-height-22px">
                        <div class="text-extra-dark-gray text-extra-medium font-weight-500 line-height-20px margin-5px-bottom">Livraison rapide</div>
                        <span>Partout en Europe</span>
                    </div>
                </div>
            </div>
            <!-- end feature box item -->
            <!-- start feature box item -->
            <div class="col md-margin-30px-bottom xs-margin-25px-bottom wow animate__fadeIn" data-wow-delay="0.2s">
                <div class="feature-box feature-box-left-icon-middle last-paragraph-no-margin">
                    <div class="feature-box-icon margin-30px-right line-height-0px lg-margin-25px-right">
                        <i class="feather icon-feather-package icon-extra-medium text-extra-light-gray"></i>
                    </div>
                    <div class="feature-box-content line-height-22px">
                        <div class="text-extra-dark-gray text-extra-medium font-weight-500 line-height-20px margin-5px-bottom">Commander 24/7</div>
                        <span>Expédition à J+2</span>
                    </div>
                </div>
            </div>
            <!-- end feature box item -->
            <!-- start feature box item -->
            <div class="col xs-margin-25px-bottom wow animate__fadeIn" data-wow-delay="0.4s">
                <div class="feature-box feature-box-left-icon-middle last-paragraph-no-margin">
                    <div class="feature-box-icon margin-30px-right line-height-0px lg-margin-25px-right">
                        <i class="feather icon-feather-check-square icon-extra-medium text-extra-light-gray"></i>
                    </div>
                    <div class="feature-box-content line-height-22px">
                        <div class="text-extra-dark-gray text-extra-medium font-weight-500 line-height-20px margin-5px-bottom">Paiement sécurisé</div>
                        <span>3DSecure Monetico</span>
                    </div>
                </div>
            </div>
            <!-- end feature box item -->
            <!-- start feature box item -->
            <div class="col wow animate__fadeIn" data-wow-delay="0.6s">
                <div class="feature-box feature-box-left-icon-middle last-paragraph-no-margin">
                    <div class="feature-box-icon margin-30px-right line-height-0px lg-margin-25px-right">
                        <i class="feather icon-feather-headphones icon-extra-medium text-extra-light-gray"></i>
                    </div>
                    <div class="feature-box-content line-height-22px">
                        <div class="text-extra-dark-gray text-extra-medium font-weight-500 line-height-20px margin-5px-bottom">Conseils d'experts</div>
                        <span>A votre disposition</span>
                    </div>
                </div>
            </div>
            <!-- end feature box item-->
        </div>
    </div>
</section>
<!-- end section -->
{% endif %}
<section class="padding-5-half-rem-lr lg-padding-2-half-rem-lr sm-no-padding padding-100px-bottom {% if block.button_2_more == true %}pt-0{% endif %} {% if block.blockBGcolor == 'gris' %} bg-light-gray {% endif %} ">
    <div class="container-fluid">
        <div class="row row-cols-1 row-cols-xl-4 row-cols-md-2">
            <!-- start category item -->
            <div class="col shop-category-style-01 wow animate__fadeIn">
                <div class="shop-product lg-margin-30px-bottom">
                    <div class="shop-product-image">
                        {% capture download_note %}{{ block.Image1.image_href }}{% endcapture %}
                        <img src="{% include image.html file=download_note sizevar='thumbstore' width='' %}" class="w-100 border-width-1px border-color-dark-gray border-all" alt="{{ block.Image1.alt_text }}" width="600px" height="800px"/>
                        <div class="shop-product-overlay bg-transparent-gradient-light-red-orange"></div>
                    </div>
                    <div class="shop-product-content d-flex align-items-center bg-white xl-padding-20px-lr padding-30px-lr padding-5px-tb">
                        <a href="{{ block.Image1.title_Link }}" class="alt-font font-weight-500 text-extra-dark-gray d-inline-block align-middle text-uppercase me-auto">{{ block.Image1.title }}</a>
                        <a href="{{ block.Image1.title_Link }}"><i class="line-icon-Arrow-OutRight icon-large text-extra-dark-gray align-middle margin-15px-left"></i></a>
                    </div>
                </div>
            </div>
            <!-- end category item -->
            <!-- start category item -->
            <div class="col shop-category-style-01 wow animate__fadeIn" data-wow-delay="0.2s">
                <div class="shop-product lg-margin-30px-bottom">
                    <div class="shop-product-image">
                        {% capture download_note %}{{ block.Image2.image_href }}{% endcapture %}
                        <img src="{% include image.html file=download_note sizevar='thumbstore' width='' %}" class="w-100" alt="{{ block.Image2.alt_text }}" width="600px" height="800px"/>
                        <div class="shop-product-overlay bg-transparent-gradient-light-red-orange"></div>
                    </div>
                    <div class="shop-product-content d-flex align-items-center bg-white xl-padding-20px-lr padding-30px-lr padding-5px-tb">
                        <a href="{{ block.Image2.title_Link }}" class="alt-font font-weight-500 text-extra-dark-gray d-inline-block align-middle text-uppercase me-auto">{{ block.Image2.title }}</a>
                        <a href="{{ block.Image2.title_Link }}"><i class="line-icon-Arrow-OutRight icon-large text-extra-dark-gray align-middle margin-15px-left"></i></a>
                    </div>
                </div>
            </div>
            <!-- end category item -->
            <!-- start category banner -->
            <div class="col wow animate__fadeIn" data-wow-delay="0.4s">
                {% capture download_note %}{{ block.Image3.image_href }}{% endcapture %}
                <a href="{{ block.Image3.title_Link }}"><img src="{% include image.html file=download_note sizevar='thumbstore' width='' %}" class="sm-margin-30px-bottom" alt="{{ block.Image3.alt_text }}" width="600px" height="800px"/></a>
            </div>
            <!-- start category banner -->
            <!-- start category item -->
            <div class="col shop-category-style-01 wow animate__fadeIn" data-wow-delay="0.2s">
                <div class="shop-product lg-margin-30px-bottom">
                    <div class="shop-product-image">
                        {% capture download_note %}{{ block.Image4.image_href }}{% endcapture %}
                        <img src="{% include image.html file=download_note sizevar='thumbstore' width='' %}" class="w-100 border-width-1px border-color-dark-gray border-all" alt="{{ block.Image4.alt_text }}" width="600px" height="800px"/>
                        <div class="shop-product-overlay bg-transparent-gradient-light-red-orange"></div>
                    </div>
                    <div class="shop-product-content d-flex align-items-center bg-white xl-padding-20px-lr padding-30px-lr padding-5px-tb">
                        <a href="{{ block.Image4.title_Link }}" class="alt-font font-weight-500 text-extra-dark-gray d-inline-block align-middle text-uppercase me-auto">{{ block.Image4.title }}</a>
                        <a href="{{ block.Image4.title_Link }}"><i class="line-icon-Arrow-OutRight icon-large text-extra-dark-gray align-middle margin-15px-left"></i></a>
                    </div>
                </div>
            </div>
            <!-- end category item -->
        </div>
    </div>
</section>