<!-- start section -->
<section class="p-0 margin-3-rem-tb {% if block.blockBGcolor == 'gris' %} bg-light-gray {% endif %} contenu">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-12 last-paragraph-no-margin wow animate__fadeIn">
                        {% if block.title == '' %}{% else %}<h2 class="h2 alt-font text-extra-dark-gray font-weight-500 margin-20px-bottom">{{ block.title }}</h2>{% endif %}
                        {{ block.content | markdownify }}
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>