<div class="theme-demos " style="display: block;">
    <div class="buy-theme sm-display-none bg-green">
        <a href="{{ site.data.config.[page.language].modal-eshop-menu.[page.season].btn_href }}" title="{{ site.data.config.[page.language].modal-eshop-menu.[page.season].btn_href_title }}">
            <i class="feather icon-feather-shopping-bag align-middle"></i>
            <div class="theme-wrapper">
                <div>
                    <i class="feather icon-feather-shopping-bag align-middle"></i>{{ site.data.config.[page.language].modal-eshop-menu.[page.season].btn_text }}
                </div>
            </div>
        </a>
    </div>
</div>