<div class="theme-demos " style="display: block;">
    <div class="buy-theme sm-display-none bg-green">
        <a href="{{ site.data.config.[page.language].modal-eshop-menu.[page.season].btn_href }}" title="{{ site.data.config.[page.language].modal-eshop-menu.[page.season].btn_href_title }}">
            <div class="theme-wrapper">
                <div>
                    <i class="feather icon-feather-shopping-bag align-middle"></i>{{ site.data.config.[page.language].modal-eshop-menu.[page.season].btn_text }}
                </div>
            </div>
        </a>
    </div>
    <div class="all-demo sm-display-none bg-green">
        <a href="javascript:void(0);" title="{{ site.data.config.[page.language].modal-eshop-menu.[page.season].btn_href_title02 }}"><i class="feather icon-feather-x align-middle"></i>
            <div class="theme-wrapper">
                <div>
                    <i class="far fa-comments align-middle"></i>{{ site.data.config.[page.language].modal-eshop-menu.[page.season].btn_text02 }}
                </div>
            </div>
        </a>
    </div>


    <section class="d-flex align-items-center justify-content-center">
        <div class="demos-wrapper d-flex align-items-center w-100 mCustomScrollbar _mCS_1 mCS_no_scrollbar" data-scroll-options="{ &quot;theme&quot;: &quot;dark&quot; }">
            <div id="mCSB_1" class="mCustomScrollBox mCS-dark mCSB_vertical mCSB_inside" style="max-height: none;" tabindex="0">
                <div id="mCSB_1_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;" dir="ltr">
                    <div class="w-100">
                        <div class="col-12 text-center margin-1-rem-bottom"> 
                            <span class="alt-font font-weight-600 text-extra-medium text-gradient-sky-blue-dark-pink text-uppercase letter-spacing-minus-1-half d-inline-block margin-5px-bottom">{{ site.data.config.[page.language].modal-eshop-menu.[page.season].contact-modal-txt01 }}</span>
                            <h5 class="alt-font font-weight-600 text-extra-dark-gray d-inline-block letter-spacing-minus-1px padding-twenty-lr margin-25px-bottom">{{ site.data.config.phonenumber }}</h5>
                        </div>
                    
                        <form action="/fr/contact-success" name="contact-{{ page.language }}" method="POST" data-netlify="true" class="alt-font text-extra-dark-gray">
                            <input class="input-border-bottom border-color-extra-dark-gray bg-transparent placeholder-dark large-input px-0 margin-25px-bottom border-radius-0px required" type="text" name="name" placeholder="{{ site.data.content.generic_contact.s02.p01.[page.language].form_name }}" />
                            <input class="input-border-bottom border-color-extra-dark-gray bg-transparent placeholder-dark large-input px-0 margin-25px-bottom border-radius-0px required" type="email" name="email" placeholder="{{ site.data.content.generic_contact.s02.p01.[page.language].form_email }}" />
                            <input class="input-border-bottom border-color-extra-dark-gray bg-transparent placeholder-dark large-input px-0 margin-25px-bottom border-radius-0px" type="tel" name="phone" placeholder="{{ site.data.content.generic_contact.s02.p01.[page.language].form_phone }}" />
                            <textarea class="input-border-bottom border-color-extra-dark-gray bg-transparent placeholder-dark large-input px-0 margin-35px-bottom border-radius-0px" name="message" rows="5" placeholder="{{ site.data.content.generic_contact.s02.p01.[page.language].form_message }}"></textarea>
                            <button class="btn btn-medium btn-dark-gray mb-0" type="submit">{{ site.data.content.generic_contact.s02.p01.[page.language].form_submit }}</button>
                        </form>
                    
                        
                    </div>
                </div>
            </div>
        </div> 
    </section>
</div>