{% assign footnav = site.data.menu_footer.[language].[season_language] %}

<div class="theme-demos " style="display: block;">
    <div class="buy-theme sm-display-none bg-green">
        <a href="{{ site.data.config.[page.language].modal-eshop-menu.[page.season].btn_href }}" title="{{ site.data.config.[page.language].modal-eshop-menu.[page.season].btn_href_title }}">
            <i class="feather icon-feather-shopping-bag align-middle"></i>
            <div class="theme-wrapper">
                <div>
                    <i class="feather icon-feather-shopping-bag align-middle"></i>{{ site.data.config.[page.language].modal-eshop-menu.[page.season].btn_text }}
                </div>
            </div>
        </a>
    </div>
</div>

<!-- start footer -->
    <footer class="footer-dark bg-slate-blue">
        <div class="footer-top padding-five-tb lg-padding-eight-tb md-padding-50px-tb">
            <div class="container">
                <div class="row">
                    <!-- start footer column -->
                    <div class="col-12 col-lg-3 col-md-5 col-sm-6 order-sm-1 order-lg-0 md-margin-50px-bottom xs-margin-25px-bottom">
                        <a href="/{{ page.language }}/{{ season_language }}" class="footer-logo margin-20px-bottom d-block"><img src="{{ imgsize.url }}{{ imgsize.logo_header }}{{ site.data.config.zehero_logo_black | remove: 'https://res.cloudinary.com/deddrj0yb/image/upload' }}" data-at2x="{{ imgsize.url }}{{ imgsize.logo_headerx2 }}{{ site.data.config.zehero_logo_black | remove: 'https://res.cloudinary.com/deddrj0yb/image/upload' }}" alt="Logo ZE HERO brand" ></a>
                        <p class="w-80 sm-w-100 margin-20px-bottom">{{ site.data.config.[language].footer_baseline }}</p>
                        <div class="social-icon-style-12">
                            <ul class="extra-small-icon light">
                                
                                <li><a href="/{{ language }}/{{ site.data.config.[language].season.[opposite_season]name }}" title="{{ site.data.config.[language].season.[opposite_season]icon-link-title }}"><i class="feather {{ site.data.config.[language].season.[opposite_season]icon }}"></i></a></li>
                                
                                {% comment %}
                                <li><a href="/{{ opposite_language }}/{{ site.data.config.[opposite_language].season.[season]name }}" title="{{ site.data.config.[opposite_language].changelang }}">{{ opposite_language }}</a></li>
                                {% endcomment %}

                                <li><a href="{{ site.data.config.facebook.facebook_username }}" title="{{ site.data.config.facebook.title }}" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                                <li><a href="{{ site.data.config.instagram.instagram_username }}" title="{{ site.data.config.instagram.title }}" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="{{ site.data.config.linkedin.linkedin_username }}" title="{{ site.data.config.linkedin.title }}" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                                <li><a href="/{{ language }}/{{ season_language }}/contact" title="{{ site.data.config.[page.language].contact.icon-link-title }}"><i class="feather icon-feather-mail"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- end footer column -->

                    {% for column in footnav.columns %}
                    <!-- start footer column -->
                    <div class="col-12 col-lg-2 col-sm-4 order-sm-3 order-lg-0 xs-margin-25px-bottom">
                        <a href="{{ column.title-link }}"><span class="alt-font font-weight-500 d-block text-white margin-20px-bottom xs-margin-10px-bottom">{{ column.col }}</span></a>
                        <ul>
                            {% for item in column.link %}
                            <li><a href="{{ item.subhref }}">{{ item.subtitle }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- end footer column -->
                    {% endfor %}

                    <!-- start footer column -->
                    <div class="col-12 col-lg-2 col-sm-4 order-sm-3 order-lg-0 xs-margin-25px-bottom">
                        <a href="{{ column.title-link }}"><span class="alt-font font-weight-500 d-block text-white margin-20px-bottom xs-margin-10px-bottom">{{ site.data.menu_footer.[language].[season_language].payment-title }}</span></a>
                        <p>{{ site.data.menu_footer.[language].[season_language].payment-txt01 }}</p>
                        <img src="{% include image.html file="https://res.cloudinary.com/deddrj0yb/image/upload/v1643140492/website/global/payment-cards_pcyzaq.png" sizevar="" width="100" height="100" %}" alt="Image paiement card" />
                    </div>

                </div>
            </div>
        </div>
        <div class="footer-bottom padding-35px-tb border-top border-color-white-transparent">
            <div class="container"> 
                <div class="row">
                    <div class="col-12 col-md-6 sm-margin-10px-bottom xs-margin-15px-bottom">
                        <ul class="footer-horizontal-link d-flex flex-column flex-sm-row justify-content-sm-center justify-content-md-start">
                            <li><a href="/fr/cgu/">CGU</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-6 text-start text-sm-center text-md-end last-paragraph-no-margin">
                        <p>&copy; 2021 <a href="/{{ page.language }}/{{ season_language }}" target="_blank" class="text-decoration-line-bottom text-white">{{ site.title }}</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->