{% assign zehero = site.data.config.site %}

{% assign language = page.language %}
{% assign season = page.season %}
{% assign season_language = site.data.config.[language].season.[season]name %}
{% assign menu = site.data.menu.[language].[season_language] %}
{% assign menuseminaire = site.data.menu_seminaire.[language].[season_language] %}

{% assign list_season = site.data.config.seasons %}
{% assign opposite_season = list_season| array_to_sentence_string: '' | remove: page.season | strip  %}

{% assign list_language = site.data.config.languages %}
{% assign opposite_language = list_language| array_to_sentence_string: '' | remove: page.language | strip  %}

{% include elements/generic_variables.html %}

            <header>
            {% if page.type == "B2B" %}
                <nav class="navbar top-space navbar-expand-lg navbar-boxed navbar-dark bg-{{ site.data.config.[page.type].site-color }} fixed-top header-reverse-scroll">
                {% else %}
                <nav class="navbar navbar-expand-lg navbar-boxed navbar-{{ page.topnav_color_text }} bg-transparent header-light fixed-top header-reverse-scroll">
               
            {% endif %}
           
                <div class="container-fluid nav-header-container">
                    <div class="col-auto col-sm-6 col-lg-2 me-auto ps-lg-0">
                        {% if page.menu == "seminaire" %}
                            <a class="navbar-brand" href="/{{ page.language }}/seminaires-{{ season_language }}">
                        {% else %}
                            <a class="navbar-brand" href="/{{ page.language }}/{{ season_language }}">
                        {% endif %}
                            {% if page.topnav_color_text == 'light' %}
                            <img src="{{ imgsize.url }}{{ imgsize.logo_header }}{{ site.data.config.site_logo_brown | remove: site.data.config.cloudinary_url }}" data-at2x="{{ imgsize.url }}{{ imgsize.logo_headerx2 }}{{ site.data.config.site_logo_brown | remove: site.data.config.cloudinary_url }}" alt="Logo {{ site.data.config.nom-site}} brand" class="default-logo">
                            {% elsif page.type == "B2B" %}
                            <img src="{{ imgsize.url }}{{ imgsize.logo_header }}{{ site.data.config.site_logo_white | remove: site.data.config.cloudinary_url }}" data-at2x="{{ imgsize.url }}{{ imgsize.logo_headerx2 }}{{ site.data.config.site_logo_white | remove: site.data.config.cloudinary_url }}" alt="Logo {{ site.data.config.nom-site}} brand" class="default-logo">
                            {% else %}
                            <img src="{{ imgsize.url }}{{ imgsize.logo_header }}{{ site.data.config.site_logo_black | remove: site.data.config.cloudinary_url }}" data-at2x="{{ imgsize.url }}{{ imgsize.logo_headerx2 }}{{ site.data.config.site_logo_black | remove: site.data.config.cloudinary_url }}" alt="Logo {{ site.data.config.nom-site}} brand" class="default-logo">
                            {% endif %}

                            {% if page.type == "B2B" %}
                            <img src="{{ imgsize.url }}{{ imgsize.logo_header }}{{ site.data.config.site_logo_white | remove: site.data.config.cloudinary_url }}" data-at2x="{{ imgsize.url }}{{ imgsize.logo_headerx2 }}{{ site.data.config.site_logo_white | remove: site.data.config.cloudinary_url }}" alt="Logo {{ site.data.config.nom-site}} brand" class="alt-logo">
                            <img src="{{ imgsize.url }}{{ imgsize.logo_header }}{{ site.data.config.site_logo_white | remove: site.data.config.cloudinary_url }}" data-at2x="{{ imgsize.url }}{{ imgsize.logo_headerx2 }}{{ site.data.config.site_logo_white | remove: site.data.config.cloudinary_url }}" alt="Logo {{ site.data.config.nom-site}} brand" class="mobile-logo">
                            {% else %}
                            <img src="{{ imgsize.url }}{{ imgsize.logo_header }}{{ site.data.config.site_logo_brown | remove: site.data.config.cloudinary_url }}" data-at2x="{{ imgsize.url }}{{ imgsize.logo_headerx2 }}{{ site.data.config.site_logo_brown | remove: site.data.config.cloudinary_url }}" alt="Logo {{ site.data.config.nom-site}} brand" class="alt-logo">
                            <img src="{{ imgsize.url }}{{ imgsize.logo_header }}{{ site.data.config.site_logo_brown | remove: site.data.config.cloudinary_url }}" data-at2x="{{ imgsize.url }}{{ imgsize.logo_headerx2 }}{{ site.data.config.site_logo_brown | remove: site.data.config.cloudinary_url }}" alt="Logo {{ site.data.config.nom-site}} brand" class="mobile-logo">
                            {% endif %}
                            
                        </a>
                    </div>
                    <div class="col-auto menu-order px-lg-0">
                        <button class="navbar-toggler float-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-label="Toggle navigation">
                            <span class="navbar-toggler-line"></span>
                            <span class="navbar-toggler-line"></span>
                            <span class="navbar-toggler-line"></span>
                            <span class="navbar-toggler-line"></span>
                        </button>
                         <!-- Start menu -->
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav alt-font">
                                
                                {% capture typemenu %}{{ page.menu | prepend: "menu" }}{% endcapture %}
                            
                                {% for nav in [typemenu].menu %}
                                
                                {% if nav.id != "blog" %}
                                <li class="nav-item dropdown megamenu" >
                                    <a href="{{ nav.title-link }}" class="nav-link">{{ nav.title }}</a>
                                    <div class="menu-back-div dropdown-menu megamenu-content" role="menu">
                                        <div class="d-lg-flex justify-content-center">
                                            <ul class="d-lg-inline-block">
                                                {% for subcategory1 in nav.column-01 %}
                                                <li class="dropdown-header">{{ subcategory1.nested }}</li>
                                                    {% for subcategory1-items in subcategory1.menu-items %}
                                                    <li><a href="{{ subcategory1-items.href }}">{{ subcategory1-items.title }}</a></li>
                                                    {% endfor %}
                                                {% endfor %}

                                                {% if nav.phrase_accroche %}
                                                <h5>{{ nav.title }}</h5>
                                                <div class="w-400px"><blockquote class="text-medium font-weight-300 text-medium-gray">{{ nav.phrase_accroche }}</blockquote></div>
                                                {% endif %}

                                                {% if nav.txt-button %}
                                                <span><a href="{{ nav.title-link }}" class="margin-25px-top btn btn-medium btn-{{ site.data.config.[page.type].site-color }} d-table d-lg-inline-block lg-margin-15px-bottom md-margin-auto-lr">{{ nav.txt-button }}</a></span>
                                                {% endif %}
                                            </ul>

                                            {% if nav.column-02 %}
                                            <ul class="d-lg-inline-block">
                                                {% for subcategory2 in nav.column-02 %}
                                                <li class="dropdown-header">{{ subcategory2.nested }}</li>
                                                    {% for subcategory2-items in subcategory2.menu-items %}
                                                    <li><a href="{{ subcategory2-items.href }}">{{ subcategory2-items.title }}</a></li>
                                                    {% endfor %}
                                                {% endfor %}
                                            </ul>
                                            {% endif %}
                                            {% if nav.column-03 %}
                                            <ul class="d-lg-inline-block">
                                                {% for subcategory3 in nav.column-03 %}
                                                <li class="dropdown-header">{{ subcategory3.nested }}</li>
                                                    {% for subcategory3-items in subcategory3.menu-items %}
                                                    <li><a href="{{ subcategory3-items.href }}">{{ subcategory3-items.title }}</a></li>
                                                    {% endfor %}
                                                {% endfor %}
                                            </ul>
                                            {% endif %}
                                            
                                            <ul class="d-lg-inline-block d-none no-padding-right">
                                                <li>
                                                    <a href="{{ nav.image-link }}" class="menu-banner-image" title="{{ config.various.link-to }} {{ nav.title }}">
                                                        {% capture download_note %}{{ nav.image-href }}{% endcapture %} 
                                                        <img src="{% include image.html file=download_note sizevar="" width="400" height="600" %}" alt="{{ nav.image-alt }}"/>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                {% endif %}
                                {% endfor %}

                                {% for nav in [typemenu].menu %}
                                {% if  nav.id == "blog" %}
                                <li class="nav-item dropdown megamenu">
                                    <a href="{{ nav.title-link }}" class="nav-link">{{ nav.title }}</a>
                                    <i class="fa fa-angle-down dropdown-toggle" data-bs-toggle="dropdown" aria-hidden="true"></i>
                                    <div class="menu-back-div dropdown-menu megamenu-content" role="menu">
                                        <div class="d-lg-flex justify-content-center">
                                            <ul class="d-lg-inline-block list-style-02">
                                                {% for subcategory1 in nav.column-01 %}
                                                <li class="dropdown-header">{{ subcategory1.nested }}</li>
                                                    {% for subcategory1-items in subcategory1.menu-items %}
                                                    <li><a href="{{ subcategory1-items.href }}">{{ subcategory1-items.title }}</a></li>
                                                    {% endfor %}
                                                {% endfor %}

                                                {% assign posts = site[page.collection] | reverse | where_exp: "page" , "page.season contains season" %}
                            
                                                {% for blogpost in posts limit:3 %}
                                                {% if blogpost.path contains "/posts/" %}
                                                <li class=""><a href="/{{ language }}/{{ blogpost.url | remove: '/fr/' }}" 
                                                    title="Lien vers l'aticle de blog {{ blogpost.post-title }}"><i class="feather icon-feather-arrow-right-circle text-large text-{{ site.data.config.[page.type].site-color }} position-relative margin-10px-right" aria-hidden="true"></i><span>{{ blogpost.post-title | truncate:60 }}</span></a></li>
                                                {% endif %}
                                                {% endfor %}
                                                {% if nav.phrase_accroche %}
                                                <div class="w-400px"><blockquote class="text-medium font-weight-300 text-medium-gray">{{ nav.phrase_accroche }}</blockquote></div>
                                                {% endif %}
                                                <span><a href="{{ nav.title-link }}" class="margin-25px-top btn btn-medium btn-{{ site.data.config.[page.type].site-color }} d-table d-lg-inline-block lg-margin-15px-bottom md-margin-auto-lr">{{ nav.txt-button }}</a></span>  
                                            </ul>
                                            
                                            <ul class="d-lg-inline-block d-none no-padding-right">
                                                <li>
                                                    {% capture download_note %}{{ nav.image-href }}{% endcapture %} 
                                                    <a href="{{ nav.image-link }}" class="menu-banner-image" title="{{ config.various.link-to }} {{ nav.title }}"><img src="{% include image.html file=download_note sizevar="" width="500" height="600" %}" alt="{{ nav.image-alt }}"/></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                         <!-- End menu -->
                    </div> 
                    <div class="col-auto text-end hidden-xs pe-0">
                        {% if site.data.config.multilangue %}
                        <div class="header-language dropdown d-lg-inline-block">
                            <a href="javascript:void(0);"><i class="feather icon-feather-globe"></i></a>
                            <ul class="dropdown-menu alt-font">
                                <!-- start sub menu column -->
                                {% for lang in site.data.config.menu_lang %}
                                <li class="dropdown">
                                    <a href="{{ lang.link }}" title="{{ lang.altext }}"><span class="icon-country"><img src="{{ lang.flag_url }}" alt=""></span>{{ lang.title }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}

                        {% if page.type == "B2B" %}
                        <div class="header-social-icon  d-inline-block">
                            <a href="/{{ language }}/seminaires-{{ site.data.config.[language].season.[opposite_season]name }}" title="{{ site.data.config.[language].season.[opposite_season]icon-link-title }}">hiver <i class="{{ site.data.config.[language].season.[opposite_season]icon }}"></i> été</a>
                        </div>
                        {% else %}
                        <div class="header-social-icon  d-inline-block">
                            <a href="/{{ language }}/{{ site.data.config.[language].season.[opposite_season]name }}" title="{{ site.data.config.[language].season.[opposite_season]icon-link-title }}">hiver <i class="{{ site.data.config.[language].season.[opposite_season]icon }}"></i> été</a>
                        </div>
                        {% endif %}

                        {% comment %}
                        {% for social in site.data.config.socials %}
                        <div class="header-language dropdown d-lg-inline-block">
                            <a class="nav-link no-padding-lr no-margin-lr" href="{{ social.username }}" title="{{ social.title }}" target="_blank"><i class="{{ social.icon }}"></i></a>
                        </div>
                        {% endfor %}
                        {% endcomment %}
                        
                    </div>
                </div>
            </nav>
        </header>
        <!-- end header -->