{% assign zehero = site.data.config.zehero %}

{% assign language = page.language %}
{% assign season = page.season %}
{% assign season_language = site.data.config.[language].season.[season]name %}
{% assign menu = site.data.menu.[language].[season_language] %}

{% assign list_season = site.data.config.seasons %}
{% assign opposite_season = list_season| array_to_sentence_string: '' | remove: page.season | strip  %}

{% assign list_language = site.data.config.languages %}
{% assign opposite_language = list_language| array_to_sentence_string: '' | remove: page.language | strip  %}



        <header>
            <nav class="navbar navbar-expand-lg navbar-{{ page.topnav_color_text }} bg-transparent header-light fixed-top navbar-boxed header-reverse-scroll">
                <div class="container-fluid nav-header-container">
                    <div class="col-5 col-lg-2 ps-lg-0 me-auto me-lg-0">
                        <a class="navbar-brand" href="/{{ page.language }}/{{ season_language }}">
                            <img src="/images/global/logo-ZeHero-white.png" data-at2x="/images/global/logo-ZeHero-white.png" alt="" class="default-logo">
                            <img src="/images/global/logo-ZeHero-brown.png" data-at2x="/images/global/logo-ZeHero-brown.png" alt="" class="alt-logo">
                            <img src="/images/global/logo-ZeHero-black.png" data-at2x="/images/global/logo-ZeHero-black.png" class="mobile-logo" alt="">
                        </a>
                    </div>
                    <div class="col-auto col-lg-8 md-position-initial md-no-padding">
                        <button class="navbar-toggler float-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-label="Toggle navigation">
                            <span class="navbar-toggler-line"></span>
                            <span class="navbar-toggler-line"></span>
                            <span class="navbar-toggler-line"></span>
                            <span class="navbar-toggler-line"></span>
                        </button>
                         <!-- Start menu -->
                        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                            <ul class="navbar-nav alt-font">
                                {% for nav in menu %}
                                {% if nav.subcategories != null %}
                                <li class="nav-item dropdown megamenu">
                                    <a href="javascript:void(0);" class="nav-link">{{ nav.title }}</a>
                                    <i class="fa fa-angle-down dropdown-toggle" data-bs-toggle="dropdown" aria-hidden="true"></i>
                                    <div class="menu-back-div dropdown-menu megamenu-content" role="menu">
                                        <div class="d-lg-flex justify-content-center">
                                            <ul class="d-lg-inline-block md-margin-15px-bottom">
                                                {% for subcategory in nav.subcategories %}
                                                {% if subcategory.subtitle-bold %}
                                                <li class="dropdown-header">{{ subcategory.subtitle-bold }}</li>
                                                {% elsif subcategory.external %}
                                                <li><a href="{{ subcategory.external.subhref }}">{{ subcategory.external.subtitle }}</a></li>
                                                {% else %}  
                                                <li><a href="/{{ subcategory.subhref }}">{{ subcategory.subtitle }}</a></li>
                                                {% endif %}
                                                {% endfor %}
                                            </ul>

                                            {% if nav.subcategories2 %}
                                            <ul class="d-lg-inline-block md-margin-15px-bottom">
                                                {% for subcategory2 in nav.subcategories2 %}
                                                {% if subcategory2.subtitle-bold %}
                                                <li class="dropdown-header">{{ subcategory2.subtitle-bold }}</li>
                                                {% elsif subcategory2.external %}
                                                <li><a href="{{ subcategory2.external.subhref }}">{{ subcategory2.external.subtitle }}</a></li>
                                                {% else %}  
                                                <li><a href="/{{ subcategory2.subhref }}">{{ subcategory2.subtitle }}</a></li>
                                                {% endif %}
                                                {% endfor %}
                                            </ul>
                                            {% endif %}
                                            {% if nav.subcategories3 %}
                                            <ul class="d-lg-inline-block md-margin-15px-bottom">
                                                {% for subcategory3 in nav.subcategories3 %}
                                                {% if subcategory3.subtitle-bold %}
                                                <li class="dropdown-header">{{ subcategory3.subtitle-bold }}</li>
                                                {% elsif subcategory3.external %}
                                                <li><a href="{{ subcategory3.external.subhref }}">{{ subcategory3.external.subtitle }}</a></li>
                                                {% else %}  
                                                <li><a href="/{{ subcategory3.subhref }}">{{ subcategory3.subtitle }}</a></li>
                                                {% endif %}
                                                {% endfor %}
                                            </ul>
                                            {% endif %}
                                            
                                            <ul class="d-lg-inline-block d-none no-padding-right">
                                                <li>
                                                    <a href="{{ nav.image-link }}" class="menu-banner-image"><img src="{{ nav.image-href }}" alt=""/></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                         <!-- End menu -->
                    </div> 
                    <div class="col-auto col-lg-2 text-end hidden-xs px-lg-0">
                        <div class="header-social-icon d-inline-block">

                            <a href="/{{ language }}/{{ site.data.config.[language].season.[opposite_season]name }}"><i class="feather {{ site.data.config.[language].season.[opposite_season]icon }}"></i></a>
                            
                          
                            <a href="/{{ opposite_language }}/{{ site.data.config.[opposite_language].season.[season]name }}">{{ opposite_language }}</a>

                            <a href="{{ site.facebook_username }}" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            <a href="{{ site.instagram_username }}" target="_blank"><i class="fab fa-instagram"></i></a>
                            <a href="{{ site.linkedin_username }}" target="_blank"><i class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <!-- end header -->