{% assign zehero = site.data.config.zehero %}

{% assign language = page.language %}
{% assign season = page.season %}
{% assign season_language = site.data.config.[language].season.[season]name %}
{% assign menu = site.data.menu.[language].[season_language] %}

{% assign list_season = site.data.config.seasons %}
{% assign opposite_season = list_season| array_to_sentence_string: '' | remove: page.season | strip  %}

{% assign list_language = site.data.config.languages %}
{% assign opposite_language = list_language| array_to_sentence_string: '' | remove: page.language | strip  %}

{% include elements/generic_variables.html %}

        <header>
            <nav class="navbar navbar-expand-lg navbar-{{ page.topnav_color_text }} bg-transparent header-light fixed-top navbar-boxed header-reverse-scroll">
                <div class="container-fluid nav-header-container">
                    <div class="col-5 col-lg-2 ps-lg-0 me-auto me-lg-0">
                        <a class="navbar-brand" href="/{{ page.language }}/{{ season_language }}">
                            {% if page.topnav_color_text == 'light' %}
                            <img src="{{ imgsize.url }}{{ imgsize.logo_header }}{{ site.data.config.zehero_logo_brown | remove: 'https://res.cloudinary.com/deddrj0yb/image/upload' }}" data-at2x="{{ imgsize.url }}{{ imgsize.logo_headerx2 }}{{ site.data.config.zehero_logo_brown | remove: 'https://res.cloudinary.com/deddrj0yb/image/upload' }}" alt="Logo ZE HERO brand" class="default-logo">
                            {% else %}
                            <img src="{{ imgsize.url }}{{ imgsize.logo_header }}{{ site.data.config.zehero_logo_black | remove: 'https://res.cloudinary.com/deddrj0yb/image/upload' }}" data-at2x="{{ imgsize.url }}{{ imgsize.logo_headerx2 }}{{ site.data.config.zehero_logo_black | remove: 'https://res.cloudinary.com/deddrj0yb/image/upload' }}" alt="Logo ZE HERO brand" class="default-logo">
                            {% endif %}
                            <img src="{{ imgsize.url }}{{ imgsize.logo_header }}{{ site.data.config.zehero_logo_brown | remove: 'https://res.cloudinary.com/deddrj0yb/image/upload' }}" data-at2x="{{ imgsize.url }}{{ imgsize.logo_headerx2 }}{{ site.data.config.zehero_logo_brown | remove: 'https://res.cloudinary.com/deddrj0yb/image/upload' }}" alt="Logo ZE HERO brand" class="alt-logo">
                            <img src="{{ imgsize.url }}{{ imgsize.logo_header }}{{ site.data.config.zehero_logo_brown | remove: 'https://res.cloudinary.com/deddrj0yb/image/upload' }}" data-at2x="{{ imgsize.url }}{{ imgsize.logo_headerx2 }}{{ site.data.config.zehero_logo_brown | remove: 'https://res.cloudinary.com/deddrj0yb/image/upload' }}" alt="Logo ZE HERO brand" class="mobile-logo">
                        </a>
                    </div>
                    <div class="col-auto col-lg-8 md-position-initial md-no-padding">
                        <button class="navbar-toggler float-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-label="Toggle navigation">
                            <span class="navbar-toggler-line"></span>
                            <span class="navbar-toggler-line"></span>
                            <span class="navbar-toggler-line"></span>
                            <span class="navbar-toggler-line"></span>
                        </button>
                         <!-- Start menu -->
                        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                            <ul class="navbar-nav alt-font">
                                {% for nav in menu.menu %}
                                {% if nav.top-level.id != "blog" %}
                                <li class="nav-item dropdown megamenu">
                                    <a href="{{ nav.top-level.title-link }}" class="nav-link">{{ nav.top-level.title }}</a>
                                    <i class="fa fa-angle-down dropdown-toggle" data-bs-toggle="dropdown" aria-hidden="true"></i>
                                    <div class="menu-back-div dropdown-menu megamenu-content" role="menu">
                                        <div class="d-lg-flex justify-content-center">
                                            <ul class="d-lg-inline-block md-margin-15px-bottom">
                                                {% for subcategory1 in nav.column-01 %}
                                                <li class="dropdown-header">{{ subcategory1.nested }}</li>
                                                    {% for subcategory1-items in subcategory1.menu-items %}
                                                    <li><a href="{{ subcategory1-items.href }}">{{ subcategory1-items.title }}</a></li>
                                                    {% endfor %}
                                                {% endfor %}

                                                {% if nav.top-level.txt-button %}
                                                <span><a href="{{ nav.top-level.title-link }}" class="margin-25px-top btn btn-medium btn-green d-table d-lg-inline-block lg-margin-15px-bottom md-margin-auto-lr">{{ nav.top-level.txt-button }}</a></span>
                                                {% endif %}
                                            </ul>

                                            {% if nav.column-02 %}
                                            <ul class="d-lg-inline-block md-margin-15px-bottom">
                                                {% for subcategory2 in nav.column-02 %}
                                                <li class="dropdown-header">{{ subcategory2.nested }}</li>
                                                    {% for subcategory2-items in subcategory2.menu-items %}
                                                    <li><a href="{{ subcategory2-items.href }}">{{ subcategory2-items.title }}</a></li>
                                                    {% endfor %}
                                                {% endfor %}
                                            </ul>
                                            {% endif %}
                                            {% if nav.column-03 %}
                                            <ul class="d-lg-inline-block md-margin-15px-bottom">
                                                {% for subcategory3 in nav.column-03 %}
                                                <li class="dropdown-header">{{ subcategory3.nested }}</li>
                                                    {% for subcategory3-items in subcategory3.menu-items %}
                                                    <li><a href="{{ subcategory3-items.href }}">{{ subcategory3-items.title }}</a></li>
                                                    {% endfor %}
                                                {% endfor %}
                                            </ul>
                                            {% endif %}
                                            
                                            <ul class="d-lg-inline-block d-none no-padding-right">
                                                <li>
                                                    <a href="{{ nav.top-level.image-link }}" class="menu-banner-image" title="{{ config.various.link-to }} {{ nav.top-level.title }}">
                                                        {% capture download_note %}{{ nav.top-level.image-href }}{% endcapture %} 
                                                        <img src="{% include image.html file=download_note sizevar="" width="400" height="600" %}" alt="{{ nav.top-level.image-alt }}"/>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                {% endif %}
                                {% endfor %}

                                {% for nav in menu.menu %}
                                {% if  nav.top-level.id == "blog" %}
                                <li class="nav-item dropdown megamenu">
                                    <a href="{{ nav.top-level.title-link }}" class="nav-link">{{ nav.top-level.title }}</a>
                                    <i class="fa fa-angle-down dropdown-toggle" data-bs-toggle="dropdown" aria-hidden="true"></i>
                                    <div class="menu-back-div dropdown-menu megamenu-content" role="menu">
                                        <div class="d-lg-flex justify-content-center">
                                            <ul class="d-lg-inline-block md-margin-15px-bottom list-style-02">
                                                {% for subcategory1 in nav.column-01 %}
                                                <li class="dropdown-header">{{ subcategory1.nested }}</li>
                                                    {% for subcategory1-items in subcategory1.menu-items %}
                                                    <li><a href="{{ subcategory1-items.href }}">{{ subcategory1-items.title }}</a></li>
                                                    {% endfor %}
                                                {% endfor %}

                                                {% assign posts = site[page.collection] | reverse | where_exp: "page" , "page.season contains season" %}
                            
                                                {% for blogpost in posts limit:6 %}
                                                {% if blogpost.path contains "/posts/" %}
                                                <li class=""><a href="/{{ language }}/{{ blogpost.url | remove: '/fr/' }}" 
                                                    title="Lien vers l'aticle de blog {{ blogpost.post-title }}"><i class="feather icon-feather-arrow-right-circle text-large text-green position-relative margin-10px-right" aria-hidden="true"></i><span>{{ blogpost.post-title | truncate:60 }}</span></a></li>
                                                {% endif %}
                                                {% endfor %}

                                                
                                                {% if nav.top-level.txt-button %}
                                                <span><a href="{{ nav.top-level.title-link }}" class="margin-25px-top btn btn-medium btn-green d-table d-lg-inline-block lg-margin-15px-bottom md-margin-auto-lr">{{ nav.top-level.txt-button }}</a></span>
                                                {% endif %}
                                               
                                            </ul>
                                            
                                            
                                            <ul class="d-lg-inline-block d-none no-padding-right">
                                                <li>
                                                    {% capture download_note %}{{ nav.top-level.image-href }}{% endcapture %} 
                                                    <a href="{{ nav.top-level.image-link }}" class="menu-banner-image" title="{{ config.various.link-to }} {{ nav.top-level.title }}"><img src="{% include image.html file=download_note sizevar="" width="400" height="600" %}" alt="{{ nav.top-level.image-alt }}"/></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                         <!-- End menu -->
                    </div> 
                    <div class="col-auto col-lg-2 text-end hidden-xs px-lg-0">
                        <div class="header-social-icon d-inline-block">

                            <a href="/{{ language }}/{{ site.data.config.[language].season.[opposite_season]name }}" title="{{ site.data.config.[language].season.[opposite_season]icon-link-title }}">hiver <i class="{{ site.data.config.[language].season.[opposite_season]icon }}"></i> été</a>
                            
                            {% comment %}
                            <a href="{{ site.data.config.[page.language].top-menu.[page.season].btn_href }}" class="btn btn-small btn-fancy btn-green btn-round-edge-small text-white" title="{{ site.data.config.[page.language].top-menu.[page.season].btn_href_title }}">{{ site.data.config.[page.language].top-menu.[page.season].btn_text }}<i class="feather icon-feather-shopping-bag right-icon"></i></a>
                            {% endcomment %}

                            {% comment %}
                            <a href="/{{ opposite_language }}/{{ site.data.config.[opposite_language].season.[season]name }}" title="{{ site.data.config.[opposite_language].changelang }}">{{ opposite_language }}</a>
                            {% endcomment %}
                            {% comment %}
                            <a href="{{ site.data.config.facebook.facebook_username }}" title="{{ site.data.config.facebook.title }}" target="_blank"><i class="fab fa-facebook-square"></i></a>
                            <a href="{{ site.data.config.instagram.instagram_username }}" title="{{ site.data.config.instagram.title }}" target="_blank"><i class="fab fa-instagram"></i></a>
                            <a href="{{ site.data.config.linkedin.linkedin_username }}" title="{{ site.data.config.linkedin.title }}" target="_blank"><i class="fab fa-linkedin"></i></a>
                            
                            <a href="/{{ language }}/contact" title="{{ site.data.config.[page.language].contact.icon-link-title }}"><i class="feather icon-feather-mail"></i></a>
                            {% endcomment %}
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <!-- end header -->