{% for block in page.page_sections %}
  {% assign template = block.template %}
  {% case template %}
  {% when 'textarea' %}
    {% include blocks/blocks_{{ template }}.html %}
  {% when '3coltxtimgtxt' %}
    {% include blocks/blocks_{{ template }}.html %}
  {% when '2colimgtxt' %}
    {% include blocks/blocks_{{ template }}.html %}
  {% when '2coltxtimg' %}
    {% include blocks/blocks_{{ template }}.html %}
  {% when 'parlaxgridtxtimg' %}
    {% include blocks/blocks_{{ template }}.html %}
  {% when 'liststyle01' %}
    {% include blocks/blocks_{{ template }}.html %}
  {% when 'liststyle01numbered' %}
    {% include blocks/blocks_{{ template }}.html %}
  {% when 'imagegallery02' %}
    {% include blocks/blocks_{{ template }}.html %}
  {% when 'numberinfo' %}
    {% include blocks/blocks_{{ template }}.html %}
  {% when 'cta' %}
    {% include blocks/blocks_{{ template }}.html %}
  {% when 'videoPopup' %}
    {% include blocks/blocks_{{ template }}.html %}   
  {% when 'video2colImgTxt' %}
    {% include blocks/blocks_{{ template }}.html %}
  {% when 'heroImageFull' %}
    {% include blocks/blocks_{{ template }}.html %}
  {% when 'heroBigTitle' %}
    {% include blocks/blocks_{{ template }}.html %}  
  {% when 'heroSlider' %}
    {% include blocks/blocks_{{ template }}.html %}
  {% when 'heroBreadcrumb' %}
    {% include blocks/blocks_{{ template }}.html %}
  {% when 'heroImageTitle01' %}
    {% include blocks/blocks_{{ template }}.html %}
  {% when 'blogPostList' %}
    {% include blocks/blocks_{{ template }}.html %}
  {% when 'listServices' %}
    {% include blocks/blocks_{{ template }}.html %} 
  {% when 'ZEHEROintro' %}
    {% include blocks/blocks_{{ template }}.html %}
  {% when 'newsletter' %}
    {% include blocks/blocks_{{ template }}.html %}
  {% when '4col2imgTxtImg' %}
    {% include blocks/blocks_{{ template }}.html %}  
  {% when 'separatorLine' %}
    {% include blocks/blocks_{{ template }}.html %}  
  {% when 'ctaShop4col' %}
    {% include blocks/blocks_{{ template }}.html %}
  {% when 'imgWide' %}
    {% include blocks/blocks_{{ template }}.html %}
  {% when '2colTitreTxt' %}
    {% include blocks/blocks_{{ template }}.html %}  
  {% when 'heroImage50percentHigh' %}
    {% include blocks/blocks_{{ template }}.html %} 
  {% when '2col2tiers1tiers' %}
    {% include blocks/blocks_{{ template }}.html %} 
  {% when 'formDownload' %}
    {% include blocks/blocks_{{ template }}.html %} 
  {% when 'imgWideInBox' %}
    {% include blocks/blocks_{{ template }}.html %}
  {% when 'heroImageFullSlider' %}
    {% include blocks/blocks_{{ template }}.html %}    

    
  {% endcase %}
{% endfor %}