---
layout: default
---

{% include elements/generic_variables.html %}

<!-- start section-->
{% capture download_note %}{{ page.image01_href }}{% endcapture %}
<section class="h-700px sm-h-400px xs-h-300px overlap-height cover-background" style="background: url( {% include image.html file=download_note sizevar="blogposthero" width="" height="" gradient="grad" %} );">
</section>
<!-- end section -->
<!-- start section-->
<section class="pb-0 pt-md-0 overflow-visible">
    <div class="container">
        <div class="row justify-content-center overlap-section z-index-0 page-title-large">
            <div class="col-12 col-lg-10 alt-font text-center bg-orange-zest text-white padding-7-rem-tb position-relative tilt-box" data-tilt-options='{ "maxTilt": 20, "perspective": 1000, "easing": "cubic-bezier(.03,.98,.52,.99)", "scale": 1, "speed": 500, "transition": true, "reset": true, "glare": false, "maxGlare": 1 }' style="background-image: url('https://res.cloudinary.com/deddrj0yb/image/upload/v1639064128/website/global/blog-post-layout-02-img-pattern_xxw4xt.png');">
                <div class="w-1px h-90px bg-white mx-auto absolute-middle-center top-0px"></div>
                <div class="text-uppercase text-medium font-weight-500 margin-25px-bottom alt-font">
                    {{ page.tags[0] }}
                    <span class="margin-20px-lr w-1px h-10px bg-white d-inline-block"></span>
                    {{ page.tags[1] }}
                    <span class="margin-20px-lr w-1px h-10px bg-white d-inline-block"></span>
                    {{ page.tags[2] }}
                </div>
                <h1 class="font-weight-600 w-50 mx-auto md-w-70 xs-w-90">{{ page.post-title }}</h1>
                <div class="d-inline-block text-white-transparent margin-5px-top">{{ config.blog.various.text001 }} {{ author.firstname }} {{ author.lastname }} {{ config.blog.various.text002 }} {{ page.date | frenchDate }}</div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->

{% include elements/forestry_blocks.html %}

<!-- start section -->
<section>
  <div class="container">      
      <div class="row">
          <div class="col-12 col-lg-10 mx-auto margin-60px-bottom md-margin-30px-bottom wow animate__fadeIn" data-wow-delay="0.2s">
              <div class="d-block d-md-flex w-100 box-shadow-small align-items-center border-radius-5px padding-4-rem-all">
                  <div class="w-130px text-center margin-60px-right sm-margin-auto-lr">
                      <img src="{{ author.photo }}" class="rounded-circle w-110px" alt=""/>
                      <span class="text-extra-dark-gray alt-font font-weight-500 margin-20px-top d-inline-block text-medium">{{ author.firstname }} {{ author.lastname }}</span>
                      {{ author.position }}
                  </div>
                  <div class="w-75 sm-w-100 last-paragraph-no-margin text-center text-md-start">
                      <p>{{ author.bio }}</p>
                      {% comment %}<span class="btn btn-link btn-large text-extra-dark-gray margin-20px-top">{{ config.blog.various.text003 }}</span>{% endcomment %}
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- end section -->

<!-- start section -->
<section class="big-section bg-medium-light-gray wow animate__fadeIn">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-6 col-lg-7 col-md-8 text-center px-md-0 wow animate__fadeIn">
                <h4 class="alt-font font-weight-700 text-extra-dark-gray text-uppercase d-inline-block letter-spacing-minus-1px margin-4-rem-bottom">{{ site.data.config[page.language].newsletter.title }}</h4>
                <!-- start newsletter form -->
                <div class="newsletter-style-01 position-relative margin-4-rem-bottom xs-margin-2-rem-bottom">
                    <form name="newsletter-{{ page.language }}"  method="POST" data-netlify="true">
                        <input class="border-radius-100px extra-large-input box-shadow-medium border-none padding-50px-left m-0 required" name="email" placeholder="{{ site.data.config[page.language].newsletter.placeholder }}" type="email">
                        <!-- <input type="hidden" name="redirect" value=""> -->
                        <button type="submit" class="btn btn-extra-large border-none text-slate-blue margin-20px-right"><i class="far fa-envelope text-gradient-light-purple-light-red left-icon"></i>{{ site.data.config[page.language].newsletter.subscribe-btn }}</button>
                        
                    </form>
                </div>
                <span class="text-small w-65 d-block m-auto line-height-24px md-w-75 xs-w-100">{{ site.data.config[page.language].newsletter.privacy }}</span>
                <!-- end newsletter form -->
            </div>
        </div>
    </div>
</section>
<!-- end section -->