---
layout: default
---

{% include elements/generic_variables.html %}

{% capture download_note %}{{ page.image01_href }}{% endcapture %}
<section class="parallax half-section" data-parallax-background-ratio="0.5" style="background-image:url('{% include image.html file=download_note sizevar="genhero" width="" height="" gradient="grad"  %}');">
  <div class="opacity-light"></div>
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-12 col-lg-7 col-md-9 position-relative d-flex flex-column justify-content-center align-items-center small-screen">
              <div class="page-title-large text-center margin-40px-bottom">
                  <span class="d-block alt-font margin-5px-bottom text-white font-weight-500">Marque</span>
                  <h1 class="bg-black alt-font text-white font-weight-500 letter-spacing-minus-1 mb-0"> {{ page.title }} <span class="d-none">{{ config.brand.extendh1 }}</span></h1>
              </div>
          </div>
      </div>
  </div>
</section>
{% capture download_note2 %}{{ page.brand_logo_href }}{% endcapture %}
<section class="overflow-visible pt-md-0 pb-0">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center overlap-section wow animate__zoomIn" style="margin-top: -85px; visibility: visible; animation-name: zoomIn;">
                <img class="rounded-circle box-shadow-large w-170px h-170px border-all border-width-10px border-color-white" src="{% include image.html file=download_note2 sizevar="" width="170" height="170" %}" alt="">
            </div>
        </div>
    </div>
</section>

{% include elements/forestry_blocks.html %}