---
layout: default
---

{% include elements/generic_variables.html %}

<!-- start page title -->
<section class="bg-light-gray margin-85px-top padding-40px-tb sm-padding-30px-tb page-title-small">
  <div class="container">
      <div class="row align-items-center justify-content-center">
          <div class="col-xl-8 col-lg-6 text-center text-lg-start">
              <h1 class="alt-font text-extra-dark-gray font-weight-500 no-margin-bottom d-inline-block">{{ page.advice_cat }}</h1>
              <span class="alt-font text-medium d-block d-md-inline-block sm-margin-5px-top">{{ page.title }}</span>
          </div>
          <div class="col-xl-4 col-lg-6 text-center text-lg-end breadcrumb justify-content-center justify-content-lg-end text-small alt-font md-margin-15px-top">
              <ul>
                  <li><a href="/{{ page.language }}/{{ season_language }}">Accueil</a></li>
                  <li><a href="#">Conseils</a></li>
                  <li>{{ page.advice_cat }}</li>
              </ul>
          </div>
      </div>
  </div>
</section>
<!-- end page title -->

{% for block in page.page_sections %}
  {% assign template = block.template %}
  {% case template %}
  {% when 'textarea' %}
    {% include blocks/blocks_{{ template }}.html %}
  {% when '3coltxtimgtxt' %}
    {% include blocks/blocks_{{ template }}.html %}
  {% when '2colimgtxt' %}
    {% include blocks/blocks_{{ template }}.html %}
  {% when 'parlaxgridtxtimg' %}
    {% include blocks/blocks_{{ template }}.html %}
  {% when 'liststyle01' %}
    {% include blocks/blocks_{{ template }}.html %}
  {% when 'liststyle01numbered' %}
    {% include blocks/blocks_{{ template }}.html %}
  {% when 'imagegallery02' %}
    {% include blocks/blocks_{{ template }}.html %}
  {% when 'numberinfo' %}
    {% include blocks/blocks_{{ template }}.html %}
  {% when 'cta' %}
    {% include blocks/blocks_{{ template }}.html %}
  {% endcase %}
{% endfor %}