---
layout: default
---

{% include elements/generic_variables.html %}

{% capture download_note %}{{ page.image01_href }}{% endcapture %}
<section class="parallax half-section" data-parallax-background-ratio="0.5" style="background-image:url('{% include image.html file=download_note sizevar="genhero" width="" height="" gradient="grad"  %}');">
  <div class="opacity-light"></div>
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-12 col-lg-7 col-md-9 position-relative d-flex flex-column justify-content-center align-items-center small-screen">
              <div class="page-title-large text-center margin-40px-bottom">
                  <h1 class="bg-black alt-font text-white font-weight-500 letter-spacing-minus-1 mb-0"> {{ page.title }} </h1>
              </div>
          </div>
      </div>
  </div>
</section>

{% include elements/forestry_blocks.html %}

{% include elements/subscribe.html %}